[2014-04-06 21:16] revdave33 opened #1 "Option to generate tests when using any of the sub-generators"
I'm wanting to instill within myself the habit of always writing tests. In playing with the sub-generators that I can issue a command to build a test base for controllers in angular and models in express. I can see where it might be helpful to maybe add a prompt when using the sub-generators to generate the test at the same time as the controller/model.

Also, I think it would be a very good thing

[2014-04-06 21:24] revdave33 opened #2 "Configuring the generators"
I know this might go against the idea of an opinionated generator, but there are a couple things that I would like to be able to configure.

The biggest thing is the naming of the main directories: app and public.

I understand that the naming comes from the express side of things, but most of the tutorials and books I've been reading from the angular side names the angular part 'app' and the expr

[2014-04-06 21:30] revdave33 opened #3 "Barebones setup generator"
I can see how the crud-module generator works, and the meanjs setup generator works. However, I can see it being a little bit of a pain to want to start using the generator, use yo meanjs, then delete a lot of files and directories, then starting over with the crud-module generator and all the other sub-generators to make a new app.

I can see the value of being able to generate the full meanjs ex

[2014-04-09 20:50] revdave33 opened #5 "Keep up to date with mean?"
I'm presuming that one of the guiding principles of the generator is that by using the generator you can precisely duplicate the files in the primary mean project. (at least by using example generator).

The flip side is that if we introduce new content here (such as new tests for the test generators) that you would appreciate a pull request to enhance the primary mean project. In this case would

[2014-04-11 23:36] gaboesquivel opened #9 "enhancement: articules module should be optional"
Hi, I think modules should be optional when generating the project.

When running `yo meanjs` you should be asked whether you want it or not. Later, as more modules get incorporated we could add a selection option to chose the ones you will use.

What do you think?

[2014-04-12 02:40] #3 closed, assigned to nobody

[2014-04-12 02:40] #5 closed, assigned to nobody

[2014-04-12 02:40] #1 closed, assigned to nobody

[2014-04-12 03:27] #9 closed, assigned to nobody

[2014-04-16 03:36] theviking opened #11 "Option in include/exclude passport authentication"
A lot of apps live behind firewalls on corporate Intranets. On these sites authentication is handled via system login. It would be great to have Passport and any authentication features as an option in the generator.

Cheers.

[2014-04-22 19:00] revdave33 opened #15 "Design Principle: Updating Core files"
I am thinking that one of the design principles for the generator, especially as the primary meanjs project continues to strengthen the flexibility of it modularity is that users of the generator should be able to update the core files with minimal impact on their own code. With the use of modules at more levels the developer should be wary about modifying any of the core files so that as bug fixe

[2014-05-21 11:21] AttilaSATAN opened #23 "How can I safely remove a CRUD module"
How can I safely remove a CRUD module? Is enough to just delete the folder and server files?
I've also asked this question on stackoverflow.

http://stackoverflow.com/questions/23781750/how-can-i-safely-remove-a-crud-module

[2014-06-19 02:10] matthewrankin opened #24 "Remove deprecated `require.extensions`"
According to the [Node.js v0.10.29 Manual][require.extensions], `require.extensions` has been deprecated. Given this, it seems like it would be a good idea to remove the `require.extensions` used in `config/init.js`.

[require.extensions]: http://nodejs.org/api/globals.html#globals_require_extensions

[2014-08-04 07:27] rickyd1 opened #27 "Uncaught Error: Menu does not exists"
When I generate a CRUD module and have it add it to the topbar menu. I get "Uncaught Error: Menu does not exists ".

I looked it up and the generator is adding the name of my CRUD module as the menu instead of topbar.

for instance:

This is the output for my sample CRUD:
Menus.addSubMenuItem('Apple Notes', 'apples', 'List Apples', 'apples');

The actual output should be:
Menus.addSubMenuItem('top

[2014-09-01 18:11] everythingspirals opened #30 "Prevent module generator from pluralizing module name?"
The name of my module is already plural but it does not end with an 's', yet when I generate it, yeoman prepends an 's' to everything. How can I disable this?

[2014-09-05 09:31] kzvaigzne opened #31 "Minor initial setup bug"
Hey,

when answering the intro questions, at the question "What is your company/author name?" I instinctively replied LLC "Company name" which corrupted the package.json file because the line "author" contained the string *"LLC "Company name""* so `npm install` failed.

It's not a major thing, it just might throw off new users(such as myself) but the fix was easy enough, I deleted everything gener

[2014-09-10 20:53] igor-galchevsky opened #32 "Social signup issues"
Any of social buttons are now working. Here is screenshot from twitter

![screen shot 2014-09-10 at 10 51 49 pm](https://cloud.githubusercontent.com/assets/6171149/4225303/907b1f0c-392c-11e4-8b0d-2d18cea42317.png)

[2014-09-17 10:45] ihorskyi opened #35 "karma:unit is broken"
[code]

[2014-09-17 10:54] #35 closed, assigned to nobody

[2014-10-11 08:52] rhemon opened #36 "Error: Cannot find module 'strip-ansi'"
![screen shot 2014-10-11 at 2 48 52 pm](https://cloud.githubusercontent.com/assets/6615517/4602030/7a944b00-5123-11e4-912c-d65ff019e8cb.png)

Please tell me how can I solve this :
I tried the `sudo npm cache clean`, `sudo npm install -g yo`, `sudo npm install -g generator-meanjs`, `sudo chown -R `whoami` ~/.npm` and `sudo chown -R `whoami` /usr/local/lib/node_modules` , but none of these solved th

[2014-10-14 15:10] AttilaSATAN opened #37 "yo meanjs:express-view"
It's funny think but I made a mistake and tried to run the

    yo meanjs:express-view

instead of

    yo meanjs:express-route.

Intrestingly yo couldn't recognise the diffrence and has run the

    yo meanjs

[2014-10-24 17:38] macrigiuseppe opened #41 "Using generator only for Client"
Your generator is simply amazing. The most complete one with best practice approaches across the entire stack.

Do you think it would be possible to use your generator to create only a client application with angularJS?

Thank you again for the outstanding work.

[2014-11-02 14:03] timotheemoulin opened #47 "".server.controller" missing in pathnames"
When using "$ yo meanjs:crud-module <module-name>" the files required at the top of
- app/routes/<module>.server.routes.js
- app/controllers/<module>.server.controller.js
  are not called with the right name (missing ".server.controller")

It seems that the problem occurs only on unix based servers (I tested on mac os, and debian) but not on a Windows server.

If you replace the files inclusion ev

[2014-11-03 14:42] drewblaisdell opened #50 "The generator does not escape apostrophes in the app description."
This causes a SyntaxError when the app is run because an apostrophe in the description breaks all.js.

[code]

[2014-11-06 13:23] #47 closed, assigned to nobody

[2014-11-18 13:18] scvsavsa opened #51 "calling server side code from client side in Mean JS"
i have a code to send activation link in Server.js....and i want to call it from client side Javascript file ...here is the code

var express=require('express');
var nodemailer = require('nodemailer');
var app=express();
/*
 Here we are configuring our SMTP Server details.
 STMP is mail server which is responsible for sending and recieving email.
 */
var smtpTransport = nodemailer.createTransport(

[2014-11-25 00:33] stephen-a-ingram opened #54 "(really) Minor spelling"
seperated -> separated

In the part where one is asked:

"How would you describe your application in comma seperated key words? MongoDB, Express, AngularJS, Node.js"

[2014-12-08 18:06] JuanCaicedo opened #55 "[minor typo] Malformed url in v0.4 vertical module"
I generated a new vertical module using `yo meanjs:vertical-module shortcut`.

After it ran, line 6 in `/modules/shortcuts/client/views/list-shortcuts.client.view.html` includes the following href:
 `data-ng-href="#!/shortcuts/{{shortcut._id}}`

Which should be
`data-ng-href="/#!/shortcuts/{{shortcut._id}}`
otherwise the link won't work.

This is pretty minor, I can make a PR for it.

[2014-12-20 23:27] GCinellu opened #56 "Changes to index.html gives unable to connect after reload"
When making any change or just saving the index.html page, after reloading I get 'Unable to Connect',and I manually have to refresh the browser. Nothing destructive, just a small detail.

[2014-12-22 07:46] thedug opened #57 "lots of errors on new generated stack"
I ran yo meanjs and then ran grunt.

vagrant@vagrant-ubuntu-trusty-64:~/app/yo/meanjs$ grunt
Loading "uglify.js" tasks...ERROR

Loading "cssmin.js" tasks...ERROR

Loading "mocha-test.js" tasks...ERROR

Loading "grunt-karma.js" tasks...ERROR

Running "jshint:all" (jshint) task

Running "csslint:all" (csslint) task

Running "concurrent:default" (concurrent) task
Loading "uglify.js" tasks...ERROR

Lo

[2014-12-28 20:20] #55 closed, assigned to nobody

[2014-12-30 03:11] #54 closed, assigned to nobody

[2015-01-04 20:46] quocvu opened #60 "space and tabs both used for indent"
We have mixed of tabs and spaces.  I can fix it but would like to know what is the correct/expected style?
I see tabs, 2 spaces, 4 spaces in css, html, and js file.  What do we want it to be?

Thanks

[2015-01-06 20:25] lirantal commented on #60
I'm voting for 2 spaces but we need more input from the rest of the devs.

[2015-01-07 11:01] nanuuki commented on #60
+1 for 2 spaces

[2015-01-07 11:07] nanuuki commented on #57
@thedug Are you using the default Vagrant synced folders? The default is painfully slow for me as well on a similar laptop. Switching over to NFS made things run a bit faster but for some reason Grunt did not detect file changes fast enough - it might take up to 30 seconds for a refresh while serving. I migrated to using Samba and everything runs quicker now and file changes are detected nearly in

[2015-01-07 20:31] thedug commented on #57
@nanuuki I got it working. The issue was that npm was silently refusing to install things globally. This meant that I was using old versions of everything without realizing it.

As for Vagrant yes I've seen slowness. In fact some grunt tasks are very slow. SMB is only available for windows. :(

[2015-01-07 20:35] NeverOddOrEven commented on #60
I support tabs, somewhat intrinsically due to the above comments. If your preference is that a tab represent two, three, four, etc... spaces, you can configure it locally. Either way, mixing them is not ideal, and we probably need a C.I. rule to enforce formatting.

[2015-01-07 20:37] koonan commented on #57
You can install Samba manually and setup a share for your dev files (/var/wwwfor example) and connect to that, works on OS X too :) your files won't be available while your VM is offline though, but IMO that's a small price to pay for the performance gain.

[2015-01-07 20:41] NeverOddOrEven commented on #57
If there is a Vagrant/NodeJS issue with Samba/SMB etc... may I suggest a new issue with a better suited title for better clarity and discover-ability.

If the immediate issue is resolved, I would rather this topic be closed. Are you good now @thedug?

[2015-01-07 20:44] thedug commented on #57
@koonan I use an ide in osx to edit files. So I that would be a deal breaker.

[2015-01-07 20:46] NeverOddOrEven commented on #56
@GCinellu sorry for the delay. Do you mean that livereload is not working? If I am off base, can you provide more context surrounding the problem you are/were seeing?

[2015-01-07 20:49] NeverOddOrEven commented on #51
This is a matter of understanding how to add a route to angularjs to interface with the server. I would suggest you look at the articles example to better figure out how paths are created and used.

[2015-01-07 20:49] #51 closed

[2015-01-07 21:14] thedug commented on #57
@NeverOddOrEven  Yes. Sorry about the conversation.

[2015-01-07 21:14] #57 closed

[2015-01-07 22:36] NeverOddOrEven commented on #57
No worries @thedug, just prefer separate issues to be easily searchable/scannable for myself and others

[2015-01-09 07:50] quocvu commented on #60
I also like 2 spaces. That seems to be the de facto standard nowadays.
In some files, I see the mix up with the file itself.

[2015-01-09 12:05] ilanbiala commented on #60
I like tabs each 2 spaces.

[2015-01-09 12:10] lirantal commented on #60
not tabs, spaces.

@roieki and @amoshaviv
can we go ahead and re-refactor everything to 2 spaces?

[2015-01-09 14:48] ilanbiala commented on #60
@lirantal most developers strongly support tabs, is there any reason we should go with spaces?

[2015-01-09 15:41] JuanCaicedo opened #61 "Gulp default fails"
I ran the generator and tried to start the server with `gulp` and got the following error:

[code]

In `package.json` the start script is specified as `grunt`. I can fix this by changing it to `node`, but I'm not sure if this would affect the deployment process. If this is the correct fix, I can make a PR.

[2015-01-09 15:59] quocvu commented on #60
* a nice debate at <http://jarrodoverson.com/blog/spaces-vs-tabs/ with a cool visualization
* a good collection of opinions <http://c2.com/cgi/wiki?TabsVersusSpaces>

[2015-01-09 19:23] lirantal commented on #60
@ilanbiala you may use the TAB key, but are you really up for using tab controls for code?

[2015-01-10 20:13] NeverOddOrEven commented on #60
@lirantal When multiple developers are involved, I do prefer tabs because then a developer may set their preference for amount of spacing a tab visually represents. Per my comment on the other thread, and stated preference above (for tabs), I don't care how we go forward as long as it is consistent.

[2015-01-12 00:26] flipjs commented on #30
Is it possible to add/update the dictionary to include a pair of singular/plural words? For example, 'lens/lenses' . Running 'yo meanjs:crud-module lens' will generate len/lens, which is incorrect.

[2015-01-12 00:30] ilanbiala commented on #30
@everythingspirals can you provide the specific word/words you are working with?

[2015-01-12 00:39] flipjs commented on #30
Actually I don't have a list. I am working on a camera-related app where lens is singular and lenses is plural. The documentation advises to use 'singular' name when creating crud-module, which is what I did. Or maybe I should have tried the plural name 'lenses' instead?

[2015-01-12 00:45] flipjs opened #62 "How to download the 0.4-dev generator?"
I am using the meanjs 0.4.0 branch, and currently my generator installed on my mac is 0.3 generator. How can I switch to use the 0.4-dev generator. I know its not stable yet, but I hear the crud-vertical-module generator seems to be working fine. So I just want to use it to generate my crud module. Thanks.

[2015-01-12 01:03] ilanbiala commented on #62
`npm install meanjs/generator-meanjs#0.4-dev` should work for you and should install the 0.4-dev branch.

[2015-01-12 01:47] flipjs commented on #62
It works! Many thanks ilanbiala!

[2015-01-12 01:47] #62 closed

[2015-01-14 17:22] quocvu commented on #60
What is the final word?

[2015-01-14 21:07] ilanbiala commented on #60
@quocvu Right now 3 people voted for 2 spaces, and 2 people voted for tabs. I don't think we should make a decision based on 5 votes, so I think we should hold off.

@lirantal what do you mean by "using tab controls for code"? I think @NeverOddOrEven made a very good point in favor of working with tabs.

[2015-01-15 07:08] lirantal commented on #60
I mean:
1. We all use the TAB key on the keyboard
2. The TAB key generates spaces and not a TAB control character
3. These spaces should be 2 spaces in length

[2015-01-15 17:37] quocvu commented on #60
@ilanbiala @NeverOddOrEven I agree w/ you on the benefits of tabs. But spaces has lots of benefits to.

15 years ago, 95% of us think tabs is way to go and we wouldn't even have this conversation. Now the tide has shifted and I would guess it's closer to 50-50%.

Spaces allowed me to adopt certain coding style that wasn't possible with tabs and I was okay to give up the flexibility that you mentio

[2015-01-17 14:01] creatifDynamics opened #63 "How to use MEAN.JS with CoffeeScript ?"

[2015-01-17 18:11] ilanbiala commented on #63
@creatifDynamics what part are you trying to use with CS?

[2015-01-17 21:14] creatifDynamics commented on #63
Server side logic.

[2015-01-17 21:52] ilanbiala commented on #63
As long as you compile it before you run Node, it should work fine..

[2015-01-17 21:57] #63 closed

[2015-01-26 04:45] miguelcoba opened #66 "Update initial app files and templates"
Update files to match meanjs/mean master branch (current HEAD https://github.com/meanjs/mean/commit/2bba82e1e5a46ba49338c3089b339c6a73ce094e)

[2015-01-27 12:47] xiaoquqi opened #68 "Is there anyway to make space instead of tab in the generation files?"
I found all the generate files use tab as default, is there any configuration to limit to use spaces instead? Or I should do sed after I generate the files?

Thanks.

[2015-02-02 03:28] mithun-daa opened #70 "Why is test a separate grunt task?"
I started with the yeoman generator. I see that testing is a separate grunt task - `grunt test`. What workflow do you guys follow? Run `grunt test` first and write your tests and when everything is green you run  `grunt default` task to spin the server up? Wouldn't you want to have the unit tests run every time something changes (when the watches kick-in)? I know it is up to the developer but I wa

[2015-02-07 12:31] sylvainlap commented on #66
Is there a way to automatically have the generator and the meanjs/mean rep synchronized ?

[2015-02-08 02:09] miguelcoba commented on #60
Tabs, please. And each developer can/will/need to configure how he wants to transform that tab char to visual spaces (leave it as tab, change it to 2 spaces, change it to 4 spaces)

[2015-02-08 02:17] miguelcoba opened #71 "Update generators to include new control fields"
Updated current generators to include support for new control fields as added by https://github.com/meanjs/mean/issues/390

[2015-02-08 12:37] blueflagbj opened #72 "Is there anyway to install generator-meanjs 0.4-dev by npm？"
Is there anyway to install generator-meanjs 0.4-dev by npm？

[2015-02-08 14:12] blueflagbj commented on #72
I  got it，thx~

[2015-02-08 14:12] #72 closed

[2015-02-08 14:27] sylvainlap opened #73 "Get mean & generator-meanjs synced"
Hi,

Is there a way to get the mean rep and the generator-mean synced ?
It must be hard to update 2 reps for the same project :/

[2015-02-11 05:06] mohanlate opened #74 "Generator for installing bootstrap-SASS with compass"
What is the best way to replace the default bootstrap less with the sass port and make it work with compass? Do I have to manually update everything including gruntfile.js?

[2015-02-14 19:46] keithics commented on #41
@macrigiuseppe I was actually thinking of the same thing.
but I did went to generator-angular instead because of time constraint. you are right, I love the best practice approaches with meanjs.

[2015-02-16 13:11] emartinpi opened #75 ""bower install" is not automatically run"
I was just trying the generator-meanjs. After downloading the code and run `grunt`
a blank page is shown, so i was wondering what's going on? when you take a look at the code you realize something is missing...
[code]
It could be great the generator do it for you as it does `npm install`

[2015-02-28 18:06] metasean opened #79 "0.4.0 $ yo meanjs:crud-module <module-name> RUNS $ yo meanjs"
I've got a new 0.4.0 MEAN.js app.

When I try to generate a new crud-module named "meets" by running:

    yo meanjs:crud-module meets

I am greeted by:
[code]

Moved from https://github.com/meanjs/mean/issues/437

[2015-03-01 14:31] metasean commented on #79
For anybody else wanting to run the equivalent of `yo meanjs:crud-module <module_name>` in the 0.4.0 generator, then new command is:

    yo meanjs:vertical-module meets

@amoshaviv, @keshavos, and other official team members, are there plans to merge the functionality back in (i.e. to make `yo meanjs:crud-module <module_name>` work) or should user documentation be updated to reference the vertica

[2015-03-09 21:49] davestacey commented on #74
You probably saw the fork https://github.com/CognitiveScale/meanjs-template , https://github.com/frederik/mean/commit/6e2db3b1a8b7050df4932605339ecc08b9467056  It's not Compass (Libsass) so it may not fit your needs. I also found this article helpful but it is a manual process "Generating CSS into MEAN.JS using Sass" http://ifrederik.com/blog/2014/06/generating-css-into-mean-js-using-sass/  Hopefu

[2015-03-09 21:54] davestacey commented on #75
I also found it useful to run "grunt build" or NODE_ENV=production grunt build" to create the dist files and test production.

[2015-03-09 22:40] ilanbiala commented on #75
If anyone wants to create a PR, I'll quickly merge that in.

[2015-03-10 10:04] radjivC opened #81 "Error with yo meanjs error access morgan"
Hi, when I use the yo generator with sudo or without sudo, the generator can't read the .npm/ folder

![74f9a9d2-bdad-11e4-9d4c-9583c620a922](https://cloud.githubusercontent.com/assets/5714138/6572689/776e7128-c714-11e4-8390-1c900281f3fc.png)

I made a github gist with my npm log at this adress, if you need more information.  https://gist.github.com/radjivC/44661c70ee8e3edac98c.

I opened an issue

[2015-03-10 20:58] venetianthief commented on #75
@ilanbiala PR -> https://github.com/meanjs/generator-meanjs/pull/83

[2015-03-13 11:00] TsarS commented on #79
Same issue with     yo meanjs:vertical-module meets

"What would you like to call your application?"

[2015-03-13 11:22] Shrizzy commented on #79
@TsarS I had a similar issue when I first installed the 0.4.0 generator, turned out that I had the generator-meanjs installed twice on my machine in different locations, and it was mapping to the old version (both generators are installed using the same folder name).
I've been using the vertical module generator for a few months now with no issues.
Perhaps check if you have a similar issue, or per

[2015-03-16 22:19] dotch commented on #60
I vote for 2 spaces, simply because a lot of projects went this way.
angular and express use this indentation style.
since most people don't really care and many pull requests come in using two spaces indentation and would have to be reformatted to tabs, going with 2 spaces seems to be the most convenient way to handle this for everyone.

[2015-03-19 06:23] lirantal commented on #60
I'm all for 2 spaces too ;)

[2015-04-03 18:12] AlexisTM commented on #81
Hello, you should correct the rights of your ~/.npm folder...

sudo chown -R username:group ~/.npm

[2015-04-03 18:14] AlexisTM commented on #60
**Unified**! Tabs or two spaces, but **unified**

[2015-04-03 18:36] AlexisTM opened #85 "[crud-module] Unable to set a "custom" url."
Dear,

I generated a crud-module named room. Everything works UNTIL I change the roomId meaning. I want to obtain an URL with the **room's name** instead of the **ObjectID**.

    http://127.0.0.1:3000/#!/rooms/1E10

So I changed :
* The client's view from room._id to room.ID
* The client service for the meaning of roomId from `{ roomId: '@_id' }` to `{ roomId: '@ID' }`
* The server's controller's

[2015-04-06 13:44] radjivC commented on #81
It's working for me, thanks

[2015-04-06 13:44] #81 closed

[2015-04-06 22:34] quocvu commented on #60
Can we have a closure on this?  Anything is better than the mixed style we have today.

[2015-04-09 13:03] outreal opened #86 "Incorrect glob pattern on file config/assets/default.js"
Hi,
There's a problem with the glob pattern on the file config/assets/default.js, on server.routes (line 45). Actually, it's:
[code]
And it should be:
[code]
Otherwise it excludes all module names which end with `c`, `o`, `r` or `e`.

And thanks for this great generator :)

[2015-04-09 16:49] ilanbiala commented on #86
@outreal can you create a PR?

[2015-04-09 17:33] outreal commented on #86
@ilanbiala yes, I think I can. I've never done it before, though.
I'm a developer but I always used SVN for source control. Could you please explain me why is it simpler for you if I fork your projet, commit my small change and create a PR instead of just making this change yourself?

Please, don't take me wrong, I have no problems with doing it, I'm just trying to understand what the benefits of

[2015-04-09 18:10] ilanbiala commented on #86
It's to give people who aren't as experienced with OSS a chance to become more familiar and allow OSS developers to spend more time working on fixing bigger bugs and implementing new features instead of having to spend a lot of time working on 1-2 line fixes.

[2015-04-15 14:43] blueflagbj opened #87 "Menu item for route doesn't appear in the topbar after creating module via yo meanjs:vertical-module"
Hi,

Creating a new module using the vertical-module  generator is not working for me.
 After running:
yo meanjs:vertical-module sets
I got this:

              // Configuring the Articles module
             'use strict';

               // Configuring the Sets module
             angular.module('sets').run(['Menus',
	        function(Menus) {

		// Add the Sets dropdown item
		Menus.addMenuItem(

[2015-04-21 01:27] #87 closed

[2015-05-10 01:29] smithjessk opened #91 "Static files accessed incorrectly"
In my MEAN app, I have two routes, `/:room` and `/:room/manage`. Both of these routes serve an HTML template that accesses static files. However, `/:room/manage`, returns a 404 when it tries to grab these files. For instance, with `:room = 0`, it tries to access `/0/lib/bootstrap/...` instead of `/lib/bootstrap/...`.

This is because there is no leading slash in the generated `layout.server.view.h

[2015-05-16 05:13] goodseller opened #92 "New module not working caused by module name"
I have yo a new route

    yo meanjs:express-model <module-name>

with a name like: "node", "node-info", "info" and found that is not loaded (tested with console.log).

Then I tried rename the default articles module as above and restart gulp, but still find err.

**Is there any restriction for the naming of the module?** Thanks.

Remarks:
- (name "express" works)
- OS: Windows 8 x64
- mean.js ver

[2015-05-28 20:21] adskdave commented on #79
I'm having this exact issue at the moment.
@Shrizzy how can I see which yo meanjs: is running?

I'm happy to delete / re-install some packages if needed.

Thanks.

[2015-06-06 14:48] blakeprobinson opened #94 "Initial Setup Question, "How would you describe your application," repeats with every keystroke"
Hi!

As the screen shot below shows, when setting up the MEAN App, the question, "How would you describe your application?" repeats with every key stroke.  Thanks for your help!

Blake

![screen shot 2015-06-06 at 10 38 54 am](https://cloud.githubusercontent.com/assets/10137025/8020034/58198600-0c38-11e5-86d2-73ee7140bbb0.png)

[2015-06-17 02:36] jloveland commented on #60
+1 for 2 spaces

[2015-07-05 16:16] mr-e- opened #96 "Initial setup - unit test failing"
I followed the instructions to install the app using yo. I made sure npm install and bower install was run. I then attempted to test my application using "gulp test".

I receive a unit test error:

![image](https://cloud.githubusercontent.com/assets/58285/8512423/a03c5866-230f-11e5-83a3-899544a7b426.png)

[2015-07-05 16:39] #96 closed

[2015-07-11 09:00] sapna1402 opened #97 "Error: yo meanjs"
_-----_
    |       |
    |--(o)--|   .--------------------------.
   `---------´  |    Welcome to Yeoman,    |
    ( _´U`_ )   |   ladies and gentlemen!  |
    /___A___\   '__________________________'
     |  ~  |
   __'.___.'__
 ´   `  |° ´ Y `

You're using the official MEAN.JS generator.
? What would you like to call your application? firstapp
? How would you describe your application? (Full-S

[2015-07-11 12:32] #97 closed

[2015-07-15 18:06] kristianbenoit opened #99 "Two users can associate the same providerProfile to their accounts"
Two users can associate the same providerProfile to their accounts and a user might do it unexpectedly.

Step to repeat:
1. Create a user with a local provider, associate a facebook account.
2. Create a user with a google provider, associate the same facebook account to it.

The facebook account is not removed from the first user and is added to the second. Which user should signin when the he sig

[2015-07-15 18:09] lirantal commented on #99
can you check if this is resolved in 0.4.0?

[2015-07-15 20:14] kristianbenoit commented on #99
It does not seems resolved. I did not test, but `User.saveOAuthUserProfile` seems to be the same code as the current released version and does not check if the email is already in the database before creating a user or if the provider is already in the database before adding the provider to the user. (https://github.com/meanjs/generator-meanjs/blob/0.4-dev/app/templates/modules/users/server/contro

[2015-07-16 05:33] lirantal commented on #99
got it.
would be great if you can provide a PR for 0.4.0 that fixes this.

[2015-07-17 08:01] manasj1947 commented on #97
any solution on this?

[2015-07-19 02:45] IVLMediaInc commented on #30
I agree with this as well. Pluralization shouldn't be automatic. It's been an annoyance, to say the least. Please remove it.

[2015-07-20 01:14] drom296 commented on #62
This no longer seems to work. I get the following message:

[code]

[2015-07-29 21:17] codydaig opened #101 "0.4.0"
@lirantal - Has there been any work on the 0.4.0 version outside of what's in the 0.4-dev branch? If not, I'm gonna dive into the generator and see what I can come up with to make it work with 0.4.x.

[2015-07-29 22:08] ilanbiala commented on #101
@codydaig I don't believe so. That said, our mission for the generator is to avoid copying and pasting the files and inserting the template strings. Ideally we clone this git repo and have some customizable fields.

[2015-07-29 22:26] codydaig commented on #101
@ilanbiala "this" are you talking about the mean repo or the generator repo?

[2015-07-29 22:29] ilanbiala commented on #101
Sorry I was unclear, I mean the mean repo.

[2015-07-29 22:36] codydaig commented on #101
@ilanbiala That's what I figured, just wanted too make sure. In the process of going through it, I really disliked the idea of copying and pasting code as that would be a nightmare to keep up on.

I'll explore some options and see what I come up with and check back in. Thanks!

[2015-07-30 07:02] lirantal commented on #101
Would be great if you can explore how we may better maintain the yeoman generator which is as of now lacking the 0.4.0 support

[2015-07-30 07:11] codydaig commented on #101
@lirantal that's the plan. We started some discussions on gitter and I'm gonna discuss some solutions in the coming week.

[2015-08-01 09:08] IVLMediaInc opened #102 "0.4 Issue with social signin"
So if I enter http://localhost:3000/api/auth/facebook it will do the usual sign in process (go to facebook, get auth, redirect etc)....but if I click a link in an anchor <a href="/api/auth/facebook">Sign in with facebook</a> it does absolutely nothing. I am wondering if this is an issue anyone else is encountering. Seems a bit odd. I also tried with the absolute url and same thing, yet as stated i

[2015-08-01 09:45] lirantal commented on #102
@IVLMediaInc you opened this issue in generator-meanjs project but in the yeoman generator we don't support 0.4... it's basically based on 0.3.3

Can you clarify?

[2015-08-02 05:33] IVLMediaInc commented on #102
It's not an issue with the generator per se, just an issue I've noticed. The stack works fine, but clicking an anchor that links to "/api/auth/facebook" results in no action...while directly going typing /api/auth/facebook does indeed redirect and successfully authenticate via facebook.

I have not noticed these same issues with the 0.3 branch.

I updated passport/passport-facebook etc in order to

[2015-08-02 06:01] lirantal commented on #102
So this is happening with the latest version of 0.4.0 repository?
If you can provide a PR with the fix we'll be happy to merge.

On Sun, Aug 2, 2015 at 8:33 AM, IVLMediaInc <notifications@github.com>
wrote:

--
--
Sincerely, Liran Tal

Author
<http://www.amazon.com/Agile-Software-Development-HP-Manager/dp/1484210352/>of
Agile Software Development with HP Agile Manager
Founder and Lead Developer of

[2015-08-02 06:04] IVLMediaInc commented on #102
Sorry, to clarify...it is not with the most recent 0.4 repository. It is using the 0.4-dev generator, and I had just updated the parts I needed. I do realize the 0.4-generator has not been synced with the branch, but it seems rather odd that manually entering the route and hitting enter results in it working, while it does not execute in an anchor tag.

Thought someone else may have experienced th

[2015-08-02 06:10] codydaig commented on #102
@IVLMediaInc The 0.4-dev generator is broken. It doesn't have the latest code base, so it's expected to have issues. I'd highly recommend you clone the mean repo and use the 0.4.0 branch (https://github.com/meanjs/mean/tree/0.4.0). That will get you the latest, working code.

[2015-08-02 08:31] IVLMediaInc commented on #102
Gotcha. I'll finish writing my application then integrate with a cloned repo. Seems like the most efficient way to go about it since the generators do save a bit of time scaffolding new files.

Take care, thanks. Also, when is the 0.4-dev generator expected to be synced with the 0.4-dev branch?

[2015-08-02 10:48] lirantal commented on #102
@IVLMediaInc at the moment no one is set to work on the 0.4 version for the generator. If you'd like to step up for this work, we'd appreciate that

[2015-08-02 10:48] #102 closed

[2015-08-02 13:22] IVLMediaInc commented on #102
I'm afraid I'm not quite at the skill level to quickly and efficiently be a contributor to project at this time. My experience with development has been about 3 months now, prior to that my focus was on UI/UX. If I feel my ability gets up to par, I'll definitely see about contributing in what ways I can.

-K.B.

[2015-08-02 16:50] codydaig commented on #101
@lirantal What if the generator was abandoned all together and we went with a command line interface that worked directly with the mean github repo? Like: https://github.com/codydaig/meanjs-cli
It's an absolute bare bone proof of concept, but if we were to add a "template" module to the MEAN core, then we could just duplicate the template folder from the mean core. It seems like it would be a lot

[2015-08-02 16:59] lirantal commented on #101
@codydaig I think we should ask ourselves what value do we/other users need from the yeoman generator. Basically, the concept of the yeoman generator is that you can create a specific setup of MEAN.JS project which is why everything in yeoman is based on templates, so that yeoman can ask you:
`Do you want to use Grunt or Gulp? (Y/N)`
and according to your answer it will give you either Grunt or Gu

[2015-08-02 17:15] lirantal commented on #102
@IVLMediaInc Cool.

[2015-08-02 17:17] codydaig commented on #101
@lirantal Using a custom CLI (making a global npm module) wouldn't be reinventing the wheel. There's plenty of projects out there that do it via a CLI vs yeoman generator and there's a bunch of modules in existent that take care of a lot of the stuff like prompts and stuff like that.

I could be missing some components of the yeoman generator that could make this achievable, but from what I was fi

[2015-08-02 19:13] lirantal commented on #101
@codydaig Okey then let's open a new issue about MEAN.JS CLI and get some info from developers and users to see what we should aim for.

Overall I'm not sure I am convinced :)

[2015-08-02 19:13] #101 closed

[2015-08-03 08:23] 0x24a537r9 commented on #68
Tabs vs. spaces is always a contentious issue, so I won't argue that either is intrinsically better, but I tend to agree that it should be an option since sed-ing is prone to be forgotten and the link the .editorconfig file references for its JS style (https://github.com/felixge/node-style-guide#2-spaces-for-indention) actually specifically recommends using 2 spaces for indentation (meaning the .e

[2015-08-03 12:22] lirantal commented on #68
Hey guys,

We have indeed pushed this change in and on the upcoming 0.4.0 release of MEAN.JS we will be using 2 spaces. As of now, we re not planning to release any updates to the generator repository (sorry).

It's coming.. really really soon, as in this week! Stay tuned.

[2015-08-03 12:22] #68 closed

[2015-08-03 12:46] xiaoquqi commented on #68
Sound great to me. Thanks.

[2015-08-03 18:57] 0x24a537r9 commented on #68
Woohoo! One more reason to love MEAN.JS.

[2015-08-03 20:50] lirantal commented on #68
@xiaoquqi @0x24a537r9 - 0.4.0 released now and merged into master branch.
You can also find the 0.4.0 tag here: https://github.com/meanjs/mean/releases/tag/v0.4.0

[2015-08-11 19:02] jjcad opened #104 "app generator feature request"
Add selection options to include the libraries for each of the various AngularUI elements so that I can choose before hand (if I know that I'll need them) to include things like Grid, Date, or Maps. https://angular-ui.github.io/

[2015-08-25 16:49] andresgottlieb opened #105 "Bug when creating a CRUD module named "setting""
If a CRUD module called "setting"/"settings" is created using the Yeoman generator, there's no warning or error message whatsoever and everything looks fine. But, for some reason, the module's client controller doesn't get loaded/executed.

I imagine this has to do with the "setting"/"settings" word being reserved or used somewhere for something else (maybe it's even an angular restriction, I don'

[2015-09-01 10:25] bohrasankalp opened #107 "Generating Admin module similar to User Module"
How would I generate admin module similar to user having all authentication and route path required for "Admin" ? Is their any way to do so? I want it to be autogenerated that follows admin routing.

[2015-09-01 13:39] codydaig commented on #107
There currently is no generator for the admin section. That's part of 0.4 and the generator is on 0.3. I am working on the 0.4 generator and hope to have that as an option.

[2015-09-01 13:41] lirantal commented on #107
Indeed.
We'll update further about the generator for 0.4 when there's something to update.

@bohrasankalp however you are welcome to contact @codydaig on our gitter chat and help with the work for the generator.

[2015-09-01 13:41] #107 closed

[2015-09-04 21:38] redlive opened #109 "File structure"
I downloaded MeanJs project from Github and used Yo generator to create new CRUD module by using next command:

yo meanjs:crud-module xxxx

But it looks like the module been created in different location, not the same location where other modules are located... and the module menu wasn't visible at top menu, however I been asked to give a location...

How to create a new module if I'm not using YO

[2015-09-04 21:48] codydaig commented on #109
@redlive The /modules is part of the 0.4 version of MEAN.js. So it seems like your using the 0.4 version of MEAN.js which does not have a working generator at this time. There's an open PR to get it updated and we're in the final stages of wrapping up the main generator, but still have work to do on the sub generators.

[2015-09-05 05:43] #109 closed

[2015-09-10 02:59] codydaig opened #112 "Currently in Progress"
@ilanbiala You mentioned some changes that you were going to make. Can you elaborate on what those changes are so we don't duplicate efforts accidentally.

@mleanos You said that you were going to work on the chat sub generator. Is this correct?

@codydaig Per @lirantal I'm going to switch the promise library from Bluebird to q. I'm also going to make a sub generator to do what https://github.com/

[2015-09-10 04:06] mleanos commented on #112
@codydaig Yes. I'll create the sub-generator for the Chat module. It's not a high priority, but I think it's definitely needed.

[2015-09-10 06:43] lirantal commented on #112
Sounds good.

[2015-09-10 16:10] ilanbiala commented on #112
@lirantal @codydaig why switch from Bluebird to Q. The other question is why not just use native promises since Node and io.js have converged and we can finally start pushing our Node dep up?

[2015-09-10 17:00] codydaig commented on #112
@ilanbiala There's some functionality that bluebird or q have over the native promise functionality. I use one of them where it allows an array of promisified functions to be ran async, but then doesn't get to the .then() until all have completed.

[2015-09-10 17:31] ilanbiala commented on #112
@codydaig you use it in this repo or in general? I'm pretty sure bluebird is still faster than native, but I think it's better to encourage ES6 and use native JS than a library.

[2015-09-10 17:45] codydaig commented on #112
@ilanbiala  https://github.com/meanjs/generator-meanjs/blob/master/app/index.js#L146

[2015-09-10 21:28] ilanbiala commented on #112
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all

[2015-09-10 22:23] codydaig commented on #112
Then don't we loose support for node 0.10?

[2015-09-10 22:34] ilanbiala commented on #112
In the generator, yes, but honestly 0.10 was released quite long ago and we shouldn't hold back our code for the small percentage that don't want to update Node. We'll never be able to make progress if we do that.

[2015-09-10 22:45] codydaig commented on #112
Whatever the framework supports, I think we need to support as well over here. I'm not opposed to dropping 0.10, but I know there's a lot of people active in the project that still use 0.10.

[2015-09-11 06:03] lirantal commented on #112
@ilanbiala I'm not sure that statement about 0.10 is true.
It is very common for nodejs deployments to rely on nodejs package from their distribution vendor and not everyone build from source the bleeding edge. Latest Ubuntu LTS for example, still has 0.10 in it's repository: http://packages.ubuntu.com/search?keywords=nodejs&searchon=names&suite=all&section=all

Also if you inspect https://nodejs.

[2015-09-11 06:45] codydaig commented on #112
@lirantal 0.12 introduced some basic promise support, but I don't think it was fully implemented yet. It wasn't until 0.4 that it became fully implemented. I'll remove bluebird tomorrow and see if it still works in 0.12.

[2015-09-12 18:01] ilanbiala commented on #112
@codydaig `assert`, `async`, and `fs-extra` aren't used at all right now for tests, right?

[2015-09-12 18:51] codydaig commented on #112
@ilanbiala Correct.

[2015-09-12 19:27] #15 closed

[2015-09-12 19:27] #23 closed

[2015-09-12 19:27] #24 closed

[2015-09-12 19:27] #27 closed

[2015-09-12 19:27] #30 closed

[2015-09-12 19:28] #2 closed

[2015-09-12 19:28] #11 closed

[2015-09-12 19:28] #31 closed

[2015-09-12 19:28] #32 closed

[2015-09-12 19:28] #36 closed

[2015-09-12 19:28] #37 closed

[2015-09-12 19:28] #41 closed

[2015-09-12 19:28] #50 closed

[2015-09-12 19:28] #56 closed

[2015-09-12 19:28] #60 closed

[2015-09-12 19:28] #61 closed

[2015-09-12 19:28] #66 closed

[2015-09-12 19:28] #70 closed

[2015-09-12 19:28] #71 closed

[2015-09-12 19:28] #73 closed

[2015-09-12 19:28] #74 closed

[2015-09-12 19:28] #75 closed

[2015-09-12 19:28] #79 closed

[2015-09-12 19:28] #85 closed

[2015-09-12 19:28] #86 closed

[2015-09-12 19:28] #91 closed

[2015-09-12 19:28] #92 closed

[2015-09-12 19:28] #94 closed

[2015-09-12 19:28] #99 closed

[2015-09-12 19:28] #104 closed

[2015-09-12 19:28] #105 closed

[2015-09-12 19:32] lirantal commented on #112
I was actually planning to use async for one of the tests I am working now in the area of the seeddb re-factoring. Why were you asking @ilanbiala ?

[2015-09-12 19:44] ilanbiala commented on #112
@lirantal I just removed all the unused ones for now. Why do you need async?

[2015-09-12 19:48] ilanbiala opened #115 "TODOs"
* Add repository field for package.json

[2015-09-12 20:36] lirantal commented on #112
@ilanbiala I can consider using q/bluebird but since we aren't yet focused on what we want to do there let's just leave async to use. I need it because I'm planning to refactor the way the seeddb works so it is testable and with the current async nature there of the db calls it'll be ugly to just wrap everything into callbacks.

[2015-09-12 20:37] codydaig commented on #112
@lirantal Async can still be used in the main project, I think @ilanbiala Is talking about the generator. Is there anywhere in the generator specific code that you use async?

[2015-09-12 22:00] codebreaker01 opened #116 "Error: Route.post() requires callback functions but got a [object Undefined]"
Getting the following error on creating a new crud module. Any ideas how to fix this? Thanks!

[code]

[2015-09-12 22:18] mleanos commented on #115
@ilanbiala Is this going to be a list of TODO's that you'd like others to work on? Or is this merely a list for documentation purposes?

[2015-09-12 22:31] codebreaker01 commented on #116
Fixed. Had a missing function in one of my routes.

[2015-09-12 22:31] #116 closed

[2015-09-13 06:49] lirantal commented on #112
Nope.

[2015-09-13 20:06] ilanbiala commented on #112
@lirantal if Bluebird offers the same functionality, I think we should just use Bluebird for everything as much as we can. I believe it is faster compared to async.

[2015-09-13 20:06] ilanbiala commented on #115
Just for documentation purposes, but anyone can and should help out with anything they feel comfortable doing.

[2015-09-13 21:26] lirantal commented on #112
@ilanbiala I'm ok with moving out of async although are there reasons why you think Bluebird is better than Q (except for performance)

[2015-09-13 21:38] ilanbiala commented on #112
Not sure about the differences, but I've been using Bluebird because it's relatively clean and performant.

[2015-09-13 21:40] lirantal commented on #112
Ok, well I'm not against Bluebird it's just that Q is very common on the frontend side so it would be ideal to converge into one framework.

[2015-09-14 08:12] aladdam opened #117 "Unable to generate meanjs using yeoman geneerator."
I have the below setup in my machine. Installed the generator generator-meanjs. But when I tried to install meanjs I am stuck with below error. Please suggest on what to do.

$ node --version
v4.0.0

$ npm --version
2.14.3

$ yo --version
1.4.8

When installed meanjs generator got the below warning. Succeded the installation though!.

$ npm install -g generator-meanjs
npm WARN peerDependencies The

[2015-09-14 14:15] codydaig commented on #117
The generator is not compatible with node version 4.0 yet.

[2015-09-14 16:47] ilanbiala commented on #117
@codydaig @sarathmaddala the 0.4.1 generator was just published now. Try updating your npm package and then running it again. If it works, please close the issue.

[2015-09-14 16:48] ilanbiala commented on #112
Closing in favor of #115

[2015-09-14 16:48] #112 closed

[2015-09-15 04:06] sarathmaddala commented on #117
@ilanbiala Thanks for looking into this. I tried with 0.4.1. Still issue exists. Below are details of test run.

C:\data\angularjs\test-gen>yo --version
1.4.8

C:\data\angularjs\test-gen>npm info generator-meanjs version
0.4.1

C:\data\angularjs\test-gen>npm info npm version
2.14.3

C:\data\angularjs\test-gen>yo meanjs

     _-----_
    |       |
    |--(o)--|   .--------------------------.
   `--

[2015-09-15 05:05] codydaig commented on #117
@sarathmaddala This is not compatible with Node version 4.0.

[2015-09-15 05:58] sarathmaddala commented on #117
Hi @codydaig , but @ilanbiala added 0.4.1. and asked to use it. Is it not made as fix for this issue on Node 4.0? If not, I will downgrade to 1.x Node version. please confirm.

[2015-09-15 06:00] codydaig commented on #117
@sarathmaddala The node versions that we officially support are 0.10.x and 0.12.x. We never supported iojs. You'll have to use one of those versions for the app to work properly.

[2015-09-15 06:30] sarathmaddala commented on #117
Thank you @codydaig. Will close the issue.

[2015-09-15 16:50] ilanbiala commented on #117
@sarathmaddala what version of the generator are you using? It seems like it is pre 0.4.1, which is the latest on npm.

[2015-09-15 16:52] codydaig commented on #117
@ilanbiala @sarathmaddala mentioned:
[code]

[2015-09-15 16:56] ilanbiala commented on #117
When you do `yo meanjs`, I'm pretty sure it uses the globally installed generator. Also, @codydaig take a look at the prompts, he doesn't have the version selection one..

[2015-09-15 16:56] ilanbiala commented on #115
@codydaig do the article and chat prompts in the generator currently set up anything or do they just not delete files?

[2015-09-15 17:02] codydaig commented on #115
@ilanbiala Just don't delete the files.

[2015-09-15 17:05] codydaig commented on #117
Ah. Your right. I just looked at the version he logged in the console.

@sarathmaddala You need to update your the global module for generator-meanjs.

[2015-09-16 13:36] jjduarte opened #118 "Error running yo meanjs on Win"
Hi, please anyone can help me to deal with this?

You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.0
0.4.0
? In which folder would you like the project to be generated? This can be changed lat
Cloning the MEAN repo.......

Error: Command failed: C:\Windows\system32\cmd.exe /s /c "rm ./mean/package.json"
'rm' n?o ? reconhecido como um comando inter

[2015-09-16 15:20] ilanbiala commented on #118
@codydaig I didn't pick up on the fact that `rm` doesn't exist on Windows. I'll probably convert the generator to use Yeoman/another fs abstraction to to work with files.

[2015-09-16 15:33] mleanos commented on #118
@ilanbiala I'm on Windows 7, and the generator works perfectly for me.

[2015-09-16 16:07] ilanbiala commented on #118
@mleanos does the command `rm` exist in Windows 7?

[2015-09-16 16:34] mleanos commented on #118
@ilanbiala Not typically.. I do have cygwin installed, which has `rm`

So you're right... this is an issue on Windows.

[2015-09-16 18:51] tmfahall commented on #118
Is there a work around we could use until fixed?

[2015-09-17 01:31] ilanbiala commented on #118
@jjduarte @mleanos can you replace the index.js file contents with the contents from this Gist: https://gist.github.com/ilanbiala/87d5b8526b78039c64af

Let me know if that works.

[2015-09-17 03:31] mleanos commented on #118
@ilanbiala No errors were reported, and the repo was cloned correctly. However, the install quits without any messages after the clone. No prompts are launched, and the name prompt input doesn't make it to `package.json`. So it appears it just stops everything after the clone.

The clone looked perfect though. No issues with that.

[2015-09-17 04:30] sarathmaddala commented on #117
Hey guys,

Thanks for keeping reopening it. I could move ahead with one more step but didn't finish successfully yet. It asked me to install Python and then vc++ express and still stuck with below error.

$ yo meanjs
undefined
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.1
0.4.1
? In which folder would you like the project to be generated? Thi

[2015-09-17 04:43] mleanos commented on #117
@sarathmaddala To me it looks like some node modules are not compatible with Node v4. I'm also on Windows 7, but my Node version is 0.12.7

I'll look into this a bit more, but that's my initial guess.

[2015-09-17 05:09] sarathmaddala commented on #117
@mleanos  Yes, it is creating the folder structure. Please see below screenshot.
![image](https://cloud.githubusercontent.com/assets/8279494/9925365/75bc6f2e-5cbf-11e5-99b8-b3257e1a01f5.png)

[2015-09-17 08:03] wesgen commented on #118
I am tryinig to run it using powershell on windows and I get the same 'rm' not recognized ..
I installed cygwin and I tried running it it passes that point however it just hangs at "this may take a couple minutes"..during that time I am unable to browse to any website and after a while I would see a bunch of errors when trying to download the packages that it could be a proxy issue but I'm not beh

[2015-09-17 13:03] ilanbiala commented on #118
@mleanos it doesn't log anything either?

[2015-09-17 15:28] zettai commented on #117
Hi everyone, I was having the same problem yesterday (windows 7 machine). I tried different versions of node 0.10.x and 0.12.x (64 bit) but generator 0.4.0 ... got different errors each time. I read this thread today and got it working using node 0.12.7 (32 bit) like this:
![capture](https://cloud.githubusercontent.com/assets/6027673/9937548/3c0182b8-5d2f-11e5-8524-cd1de70213a6.PNG)
Thanks for the

[2015-09-17 20:12] mleanos commented on #118
@ilanbiala No logs, and no errors.. no output whatsoever. Just stops right after the clone, and it appears the clone doesn't run into any issues.

[2015-09-18 14:14] sand338 commented on #118
I am facing the same issue. Tried it on two different computers but the result was the same. Cloning was successful but I run into
Error: Command failed: C:\Windows\system32\cmd.exe /s /c rm /package.json
rm is not recognized as an internal or external command

[2015-09-18 14:14] tpt22133 commented on #118
you should install git on windown 7 and select folder you want . click -> right mouse -> Git Bash
after type command : "yo mean" and everything will good

[2015-09-18 14:22] sand338 commented on #118
@tpt22133 that worked for me
- Installed git
- right clicked inside my project folder
- selected "Git Bash Here"
- entered "yo meanjs"

Thank you.

[2015-09-19 05:34] iamnizzam opened #119 "vertical-module"
how to generate vertical module?
like before yo meanjs:vertical-module
not working now...?

[2015-09-19 08:09] jrbenny35 commented on #119
I have this same problem, just getting the following

yo meanjs:vertical-module projects
undefined
You're using the official MEAN.JS generator.

[2015-09-19 09:09] brunobritoapps commented on #118
@tpt22133  Thanks... that worked for me too

Installed git
right clicked inside my project folder
selected "Git Bash Here"
entered "yo meanjs"

[2015-09-19 12:12] iamnizzam commented on #119
i want to use MEAN.JS generator for 0.3.3... its awsome

[2015-09-19 16:49] codydaig commented on #119
The generator just went through an overhaul to be inline with the current meanjs project which is on version 0.4.2. The sub generators are under development and not included in the latest release. If you want to use 0.3.3 and the vertical sub generator you'll have to install the 0.1.x version of the generator.

[2015-09-19 17:00] #118 closed

[2015-09-20 05:04] iamnizzam commented on #119
npm install generator-mean@0.1.x
but still not workin...

[2015-09-20 06:12] jrbenny35 commented on #119
This bit of code has worked for me

npm install meanjs/generator-meanjs#0.4-dev

Found here: https://groups.google.com/forum/#!topic/meanjs/wKavBQOCZvw

[2015-09-20 06:26] mleanos commented on #119
@iamnizzam @jrbenny35 The meanjs yeoman generator has been updated to the most recent meanjs release 0.4.1. https://www.npmjs.com/package/generator-meanjs

[2015-09-20 07:48] iamnizzam commented on #119
thanks  @jrbenny35 ...
its work

[2015-09-20 10:19] aladdam commented on #117
Finally, I succeeded with some modifications.

After failing several times, I downgraded to Node 0.12.7 and below were the cofig I used.

Especially, i had to install node-gyp which needed python and VC++ Express. Followed instructions here https://github.com/nodejs/node-gyp .

Used meanjs 0.4.0.

C:\Users\usr0001>node -v
v0.12.7

C:\Users\usr0001>npm -v
2.11.3

C:\Users\usr0001>yo --version
1.4.8

[2015-09-20 10:19] #117 closed

[2015-09-20 18:54] RandyDavis commented on #119
i've gone through all of the steps @jrbenny35 and @iamnizzam listed and I still get "undefined" after trying to install a vertical module.  no matches found: meanjs/generator-meanjs#0.4-dev is returned after i try running npm install meanjs/generator-meanjs#0.4-dev as well.  any other ideas?

[2015-09-20 19:15] ilanbiala commented on #119
Don't install 0.4-dev, you should just install v0.4.1

[2015-09-21 03:05] RandyDavis commented on #119
I went back and redid my app using v0.4.1 from scratch as I originally started with v0.4.0 and got to the same point and whenever I run "yo meanjs:vertical-module <module-name>" it behaves like it's trying to create a new meanjs app and responds "undefined" first and then with "What mean.js version would you like to generate?..."  Where am I going wrong here?

[2015-09-21 14:10] MonProspecteur opened #121 "Generation fails on Windows: 'rm' is not recognized as an internal or external command"
Maybe we could use https://github.com/isaacs/rimraf to also support Windows ?

Any other suggestions?

[2015-09-21 15:19] ilanbiala commented on #119
@RandyDavis vertical modules don't exist right now. We currently only have the generator for the main app set up for 0.4.x.

[2015-09-21 15:19] ilanbiala commented on #121
@MonProspecteur people have suggested using Git Bash. I'll look into better support.

[2015-09-21 15:26] RandyDavis commented on #119
So what is the exact command that I need to use to create a new module? Just want to make sure I don't mess this up as I assume that I don't use "crud-module" anymore. Thanks!

On Sep 21, 2015 10:19 AM, Ilan Biala <notifications@github.com> wrote:

@RandyDavis<https://github.com/RandyDavis> vertical modules don't exist right now. We currently only have the generator for the main app set up for 0.4

[2015-09-21 15:59] ilanbiala commented on #119
@RandyDavis that feature doesn't exist yet for 0.4.x. Feel free to set up a PR for it.

[2015-09-21 16:01] RandyDavis commented on #119
Oh so if I want to use meanjs and create modules, I need to rollback to 0.3.x? If so, then that makes sense now.

On Sep 21, 2015 10:59 AM, Ilan Biala <notifications@github.com> wrote:

@RandyDavis<https://github.com/RandyDavis> that feature doesn't exist yet for 0.4.x. Feel free to set up a PR for it.

—
Reply to this email directly or view it on GitHub<https://github.com/meanjs/generator-meanjs/

[2015-09-21 16:23] ilanbiala commented on #119
Yes, though hopefully we'll have module generation out very soon, so maybe start working on the basics of it and I'll try and finish it up this weekend.

[2015-09-22 04:53] RandyDavis commented on #119
Thanks for the clarification! Looking forward to trying it out when it's ready.

On Sep 21, 2015 11:23 AM, Ilan Biala <notifications@github.com> wrote:

Yes, though hopefully we'll have module generation out very soon, so maybe start working on the basics of it and I'll try and finish it up this weekend.

—
Reply to this email directly or view it on GitHub<https://github.com/meanjs/generator-meanj

[2015-09-22 05:08] gustavomick opened #122 "is this still alive? could anyone refer me to any place where i can find a roadmap or something similar? thankyou"

[2015-09-22 06:31] lirantal commented on #122
@gustavomick the generator is definitely still alive.
@codydaig and @ilanbiala are doing the work to make the generator compatible with our latest version of meanjs.

It is already compatible and working with latest version v0.4.2 of meanjs, but the npm repository is not yet up to date AFAIR.

[2015-09-22 06:33] codydaig commented on #122
@gustavomick @ilanbiala The npm repository is up to date. However, we're lacking the sub generators in the latest version.

[2015-09-22 07:09] lirantal commented on #122
Ahh glad to hear we got it working finally.

[2015-09-22 10:21] MikeWatsonDev commented on #79
how can i check if have generator-meanjs installed twice ?
npm -g ls --depth=0
/usr/local/lib
├── bower@1.5.2
├── generator-meanjs@0.4.1
├── grunt-cli@0.1.13
├── npm@2.11.2
└── yo@1.4.8

I have the same problem, but here I only see one version of generator, I tried both
yo meanjs:vertical-module listings && yo meanjs:crud-module listings, still launching the app generator

[2015-09-22 11:30] vko-online commented on #122
Generator doesn't work

[2015-09-22 12:27] RagingAlcoholic commented on #119
Hey guys. Found this quick fix on SO that worked for me. Let me know if it helps!

[2015-09-22 20:04] gustavomick commented on #122
@lirantal thnx,

- may be because i'm new to this i thought generator/scaffolding were core. arent?
- i didnt easily find a matrix of internal features / libraries that were included and why. (maping libs to common requirements are resolved .. like how auth is resolved, localization, caching, tasks included etc).
- i didnt find a roadmap / goals and rough estimated dates. (ex angular2, react, new

[2015-09-22 22:13] lirantal commented on #122
@vko-online the generator for 0.3.x should work just fine.
Why do you say it doesn't exist?

[2015-09-23 04:47] vko-online commented on #122
`yo meanjs:crud-module test` initializes new project, before (for mean 0.3.x) it generated crud-module. Something weird is going on, take a look at master branch, it doesn't have any module generator thing, just app, and there is no branch for 0.3.x

[2015-09-23 06:37] zloyded opened #123 "generator generate only project"
Hi all!
Generator generate only project and ignoring any parameters, generate model, generate crud, etc.
Example:

``yo meanjs:angular-module Tralala``
``What mean.js version would you like to generate?``
`` > 0.4.0 ``
 `` 0.4.1 // select any ``
`` ? In which folder would you like the project to be generated? This can be changed later. (mean)``

no chances to generate something else other than the

[2015-09-23 11:45] fungxu commented on #123
Yes, It's still in development.

[2015-09-23 21:06] yusiswtor commented on #79
Same issue for me - is it an issue with 0.4.1 maybe?

[2015-09-24 02:07] mbonig commented on #123
Do you know what it is that is broken? Perhaps with some additional information one of us can generate a pull request that would resolve it.

[2015-09-24 04:35] ilanbiala commented on #123
We have no subgenerator support as of now. This will be added soon.

[2015-09-24 04:35] #123 closed

[2015-09-24 04:36] ilanbiala commented on #79
We have no subgenerators for 0.4.1 as of now. We will have them out soon.

[2015-09-24 04:37] ilanbiala commented on #122
@vko-online there are no subgenerators,. If you want to use 0.3.x install a previous version of the generator. We will release subgenerator support soon.

[2015-09-24 04:37] #122 closed

[2015-09-24 16:27] mbonig commented on #123
I would like to help support the sub-generators. So that I can be quicker about it, any information you have on what broke between .3 and .4 would be helpful.

[2015-09-24 16:58] codydaig commented on #123
@mbonig The biggest difference between .3 and .4 is the folder structure.

[2015-09-25 11:59] Ami190 opened #124 "Unable to generate meanjs using yo generator"
I am trying to generate Meanjs with yo meanjs command, . Installed the generator generator-meanjs. But when I tried to install meanjs I am getting below error. Please suggest on what to do.

              Unhandled rejection Error: Command failed: C:\Windows\system32\cmd.exe /s /c "cd mean && npm install"

    npm WARN engine karma@0.12.37: wanted: {"node":">=0.8 <=0.12 || >=1 <=2"} (current: {"no

[2015-09-25 15:16] ilanbiala commented on #124
Are you running the `cd && npm install`? This doesn't look like generator output.

[2015-09-26 04:08] guiseek opened #126 "Problem with the generator of the dev version"
Yo generator of the crud module is working with the old structure directory

[2015-09-26 17:38] ilanbiala commented on #126
@guiseek please give more details.

[2015-09-28 06:46] iamnizzam commented on #119
is module generation finish yet @ilanbiala ?

[2015-09-28 17:13] rlyman40 commented on #121
I am somewhat new to all this so please take this with a large grain of salt. Instead of adding another dependency on another package could we not just use what is already available.

in index.js

var rmcmd = 'rm ';
var rmrfcmd = 'rm -rf ';
if (process.platform === 'win32') {
  rmrfcmd = 'rmdir /s /q ';
  rmcmd = 'del ';
}

then use path.join to generate the correct paths for the remove commands.

[2015-09-28 17:17] codydaig commented on #121
@rlyman40 Thanks for that! I actually should have used the built in filesystem module in node to handle this for us. I have an open PR that will resolve part of this issue, and I will get the rest of the issue worked out in another PR later today.

[2015-09-28 18:47] ilanbiala commented on #119
@iamnizzam no.

[2015-09-29 02:52] kbowerma commented on #123
@ilanbiala it would be nice if you updated the readme and stated that you pulled the sub generators out.  I just spent a half hour trying to figure out why they didn't work which included watching a youtube video.   Had it not been for this issue I would have still been trying.

[2015-09-29 04:50] ilanbiala commented on #123
@kbowerma https://github.com/meanjs/generator-meanjs/blob/master/README.md#application-generator read the bottom of that section.

[2015-09-29 05:44] MichaelGatesDev commented on #119
Will rolling my project back from 0.4.1 to 0.3.x destroy my project? I'm afraid all the hours I've put in are now gone if that's so.

[2015-09-29 05:48] ilanbiala commented on #119
@MichaelGatesDev It depends on what you have done with it. You should try to use 0.4.1, it has lots of goodies. :)

[2015-09-29 05:50] MichaelGatesDev commented on #119
I would love to except it doesn't have vertical module support yet? That's
exactly what I'm needing atm. I wanna generate a new CRUD module
On Sep 29, 2015 1:48 AM, "Ilan Biala" <notifications@github.com> wrote:

[2015-09-29 21:31] benmarten opened #129 "Installation on OS X 10.11 El Capitan & node 4.1.1 fails"
I have upgrade to El Capitan and latest node 4.1.1 and get this error:

https://gist.github.com/anonymous/9f92890510f74b272252

Any ideas, whats wrong?

[2015-09-29 22:42] ilanbiala commented on #129
El Capitan has not yet been released, I'm sure there are bugs with Node/npm/gyp/nan/<insert any low level package here>.

[2015-09-29 23:15] guiseek commented on #126
![meanjsdirs](https://cloud.githubusercontent.com/assets/5638096/10180727/573ffb2a-66e6-11e5-9a00-15d6839ac268.png)

Green directories were added using yo, but the new release is a different structure, an update of the generator I should know?

[2015-09-29 23:42] codydaig commented on #129
And we don't support node 4.x yet

[2015-09-29 23:43] codydaig commented on #126
mean.js v0.4 doesn't have sub generators yet.

[2015-09-30 05:20] ilanbiala commented on #129
@codydaig Node 4 passes https://travis-ci.org/meanjs/generator-meanjs

[2015-09-30 12:49] guiseek commented on #126
Ok! Thanks @codydaig

[2015-09-30 15:40] codydaig commented on #129
@ilanbiala But the project itself doesnt. https://travis-ci.org/meanjs/mean

[2015-09-30 15:48] ilanbiala commented on #129
@codydaig @lirantal `node-gyp rebuild` seems to cause the issue.

[2015-09-30 15:52] codydaig commented on #129
@ilanbiala meanjs/mean#922 resolves that issue. However, there are still dependency issues of dependencies failing on Node 4.x

[2015-09-30 18:10] farhatnawaz opened #130 "Unable to generate code using yo and generator meansjs"
I am trying to generate code using the meanjs generator with the command "yo meanjs" but it pulls up a lot of errors. I have tried several fixes posted on different blogs, like downgrading to node version 0.12.7 from 4.1 as it solved the problem for some people. But I am still stuck with it. I am attaching a screenshot of the error that I am getting. Any help would be appreciated. Thanks!

node ve

[2015-09-30 21:48] MichaelGatesDev commented on #130
So, did you try running it with administrator privs?

[2015-10-01 06:10] frhtnwz commented on #130
Yes, I did. But it gives the same errors including "try running with administrator prevs"

[2015-10-03 22:05] englishandy commented on #119
any updates on the fix? i unable to do much without the CRUD module generator.

[2015-10-05 06:47] firasm101 commented on #79
Hello,

I'm having the same issue, tried all that is suggested above - still doesn't work.
What I did as a temporary workaround is to downgrade the "generator-meanjs" npm package to lower than "0.4.1".
The one before "0.4.1" that is available for installation is "0.1.12" so I hope I won't encounter any issues going forward with that as it seems like an old version.

Remove the current version:
[co

[2015-10-05 07:08] pateldeepp commented on #119
Hello,
This is back burning issue for many users. Please fix this ASAP cause I have seen people do migrate to Mean.IO after trying a lot to work on CRUD Module. Issue seems there for 3 of my team-mates we in different environment.

[2015-10-05 08:04] yusiswtor commented on #124
Are you running on debian? IIf so, the v8 engine is probably causing those issues (https://www.debian.org/releases/stable/amd64/release-notes/ch-information.en.html#libv8). I started having the same issues after upgrading to node 4.1.1.

[2015-10-05 14:21] MichaelGatesDev commented on #119
I hope this is one of their top priorities. I'll also be migrating to MEAN.IO because I've gotten this far and now I have to wait (time is money) or downgrade. It's my fault for not reading beforehand, but still.

[2015-10-05 14:58] codydaig commented on #119
We have an open PR that we are in the code review process for. I hope to see it merged in within a couple days. That PR works as is so you can use that Branch to generate vertical-modules until it's merged in.

[2015-10-05 15:00] ilanbiala commented on #79
@firasm101 we are no longer supporting that code and that version of the generator, so I do not recommend it.

[2015-10-07 00:02] GiankOtarola commented on #118
@tpt22133 Perfect solution. Working in Windows 10.

[2015-10-07 00:27] GiankOtarola commented on #130
@frhtnwz I had de same problem and it's been solved with this solution: https://github.com/meanjs/mean/issues/856

1) See in the project folder the .bowerrc file, see the directory location(should be public/lib) and you will see that the lib folder was not created.
2) Create lib folder in public folder.
3) Run in your folder project: bower install
and then:
 npm install -g bower

[2015-10-08 09:59] emathias commented on #119
Any news on that ?  Maybe an alternative solution in the meantime ?

[2015-10-08 19:58] frhtnwz commented on #130
@GiankOtarola Holy shit! that worked. Thanks so much dude. you're a life savior. I had been struggling for more than two weeks.

[2015-10-08 23:35] hanssl commented on #79
Do you have a timeline for when the generators will be available for 0.4.1?

[2015-10-09 10:23] vko-online commented on #123
Any chance to use/find 0.3 version? My old project still uses mean 0.3

[2015-10-09 15:30] ilanbiala commented on #79
@hanssl no, there is a PR open #131, but anything you contribute will help speed up the process.

[2015-10-09 15:30] ilanbiala commented on #123
@vko-online install an old version of the generator.

[2015-10-09 16:52] vko-online commented on #123
@ilanbiala you always keep writing that, but there is no good way to install older version, there is only master branch, no tags, no releases, currently installing with
`npm install -g https://github.com/meanjs/generator-meanjs.git#d3d1ff78b7b1025ee6aeacf3d409c3a2f9451cfc`
But this is not smart

[2015-10-09 17:46] ilanbiala commented on #123
`npm info generator-meanjs`. Pick any version in the array before 0.4.1. @vko-online spend a little more time searching next time for an answer instead of just posting here, this isn't a forum.

[2015-10-10 09:54] aquadestructor commented on #79
Is there any alternative for generating modules before the generator officially launches?

[2015-10-12 06:49] jimf2342 commented on #129
Hi, I also encountered the compilation errors listed by benmarten, but on OS X Yosemite. I have tried several of the work arounds listed in some of the other bugs/links, primarily installing different versions of the dependencies, but that has not worked out for me.

Any work around suggestions?

[2015-10-12 13:26] rahil-geekunit opened #132 "Yo command unable execute in Git Bash. TypeError: Cannot read property 'substring' of undefined"
ERROR:
C:\Users\Rahil\AppData\Roaming\npm\node_modules\yo\node_modules\inquirer\node_mo                                                                                                                dules\rx-lite\rx.lite.js:549
    throw e;
          ^
TypeError: Cannot read property 'substring' of undefined
    at Interface.rl._getCursorPos (C:\Users\Rahil\AppData\Roaming\npm\node_modul

[2015-10-12 15:50] ilanbiala commented on #132
@rahil-geekunit I don't see anything in the stack trace that points to our code.

[2015-10-12 15:55] codydaig commented on #129
@jimf2342 What version of Node are you running?

[2015-10-12 16:15] codydaig commented on #124
@Ami190 Are you still having issues or can this issue be closed?

[2015-10-12 17:21] aquadestructor commented on #119
After hours of haunting errors I managed to find a way to generate crud module. As you guys know 0.4.x generators are still under development so there's a way to create another meanjs project folder with 0.3 version. You can downgrade to meanjs 0.3x without destroying the meanjs 0.4 project folder. All you have to do is to downgrade generator-meanjs to 0.1.12 version and downgrade yo to 1.3.3 or t

[2015-10-12 17:33] Ami190 commented on #124
Hi,
thanks for your email,
yes the issue is still same, gruntfile and server files are showing errors.
On 12 Oct 2015 21:45, "Cody B. Daig" <notifications@github.com> wrote:

[2015-10-12 17:35] codydaig commented on #124
@Ami190 Which version of meanjs did you generate? (0.4.0, 0.4.1, or master) Node 4.x support wasn't introduced until recently, and isn't in an official release. So you need to select master to be able to use Node 0.4.

[2015-10-12 18:19] Ami190 commented on #124
I tried with 0.4.0 n 0.4.1
both are generating errors
On 12 Oct 2015 23:05, "Cody B. Daig" <notifications@github.com> wrote:

[2015-10-12 18:23] codydaig commented on #124
@Ami190 You have to use `master`. That's the only current version that supports Node 4.x.

[2015-10-12 18:35] Ami190 commented on #124
Oh okay will try with that,

Many thanks. Can I contact you 9:00 am IST/ ur suitable time ?
in case errors?
On 12 Oct 2015 23:53, "Cody B. Daig" <notifications@github.com> wrote:

[2015-10-12 18:37] narendranss commented on #121
@ilanbiala Git Bash work around works only if we are using only one version of node.jsf from the begining. I had node.js 0.10.36 version, I update to 0.12.7 in cmd. Git Bash did not recognize the udpate to newer version and was still working in 0.10.36.

[2015-10-12 18:39] codydaig commented on #124
@Ami190 You can reply to this email and if I'm available I respond pretty quickly, but there's not guarantee of when I'm free.

[2015-10-13 17:00] jimf2342 commented on #129
@codydaig I encountered this problem with node v4.1.2.

[2015-10-13 17:05] codydaig commented on #129
@jimf2342 If you want to use Node 4, you must select master when generating the project. Node 4 support isn't in an official release yet in the meanjs project.

[2015-10-13 17:17] jimf2342 commented on #129
@codydaig What would you recommend? I'm dipping my toes in the water and I am more interested in a stable version versus managing unreleased versions. Rev node back to an earlier revision and proceed from there?

[2015-10-13 17:17] codydaig commented on #129
@jimf2342 Yes. If your looking for stable I recommend Node 0.12.x simply because there's not enough Node 4 support yet. A lot of projects and packages are still working on getting dependencies up to date.

[2015-10-13 18:06] jimf2342 commented on #129
Thanks @codydaig. I will back down and give it another try.

[2015-10-13 18:31] codydaig commented on #129
@jimf2342 I recommend installing node with nvm as it allows you to easily switch between versions depending on your mood.

http://www.codydaig.me/installing-node-with-nvm/

[2015-10-14 02:15] jimf2342 commented on #129
@codydaig Thanks for the link! Virtual version management for the win. :)

[2015-10-14 05:16] #129 closed

[2015-10-14 16:59] fouadkada commented on #126
i used
[code]

and seems to be a good workaround for now

[2015-10-15 16:05] dmintercept commented on #124
I'm having the same issue as @Ami190

[2015-10-15 16:12] lirantal commented on #124
@dmintercept are you also using node v4? see Cody's comment on that

[2015-10-16 00:04] dmintercept commented on #124
I figured it out by looking at the log file.  I had to install python and add it to my path variable.  I then removed my node module directory and did npm install -g to reinstall the dependecies.  This last part i don't remember exactly and i'm not at my development pc to check, but i think I added a grunt-serve npmtask to the grunt.js file then did npm install.  I will edit this post when I get h

[2015-10-16 07:05] brokyo opened #133 "Generator fails on OSX"
The Yo generator on master throws a bunch of errors that I've not seen mentioned in the other posts and I'm afraid I don't understand much about them. I can't attach the log and it's too big to screenshot but if there's something smarter I can do to share info please let me know.

My apologies if this has previous been covered but I'm out of my depth at this point and haven't been able to take any

[2015-10-16 07:08] codydaig commented on #133
@brokyo What OS X version are you running?

[2015-10-16 07:09] brokyo commented on #133
Ha I was actually editing as you commented that. 10.10.5

[2015-10-16 20:57] #130 closed

[2015-10-17 05:52] tzeyangng opened #134 "express-model not working"
When i tried to run the following, instead of creating the category, it try to create a brand new mean template.

yo meanjs:express-model category

[2015-10-17 06:42] tzeyangng commented on #134
nevermind, just realized the sub command is not develop yet.

[2015-10-17 06:42] #134 closed

[2015-10-17 15:09] codydaig commented on #134
@tzeyangng Sorry about that, glad you figured it out though.

[2015-10-18 01:41] tzeyangng commented on #134
@codydaig 2 questions:
- in the cross road to select nodejs 4 or older version to start new project. is the current master release stable enough for the main application generation? still expect major changes? Any suggestion?
- when can we expect the sub command to be release?

thanks.

[2015-10-18 02:48] codydaig commented on #134
@tzeyangng We haven't released official Node 4 support, so for stability, I'd recommend using an older version of node (0.12.x).

We're working on the sub generators, but do not have a current release data.

[2015-10-18 19:39] patrickbrownsync commented on #133
I'm having the same issues on 10.10.5 as well

[2015-10-19 21:22] mahlu opened #135 "Unable to genarate meanjs"
Using meanjs master.
windows 10 home
node v4.2.1
npm 3.3.8
yo 1.4.8

    Error: Command failed: C:\WINDOWS\system32\cmd.exe /s /c "cd meanjs && npm install"
    npm WARN engine karma@0.12.37: wanted: {"node":">=0.8 <=0.12 || >=1 <=2"} (current: {"node":"4.2.1","npm":"3.3.9"})
    npm WARN engine xmlbuilder@2.2.1: wanted: {"node":"0.8.x || 0.10.x"} (current: {"node":"4.2.1","npm":"3.3.9"})
    npm

[2015-10-19 21:29] mahlu commented on #135
Tried npm install again:

PS C:\Users\Mahlu\Desktop\meanjs> npm install
npm WARN install Couldn't install optional dependency: Unsupported
npm WARN install Couldn't install optional dependency: Unsupported

npm WARN prefer global node-inspector@0.10.2 should be installed with -g

C:\Users\Mahlu\Desktop\meanjs\node_modules\node-inspector\node_modules\bufferutil>if not defined npm_config_node_gyp (n

[2015-10-20 10:56] Dwiea commented on #79
Still an issue?

[2015-10-20 14:49] farhatnawaz opened #136 "yo meanjs doesn't work"
I am trying to create the app folders and files using "yo meanjs" but I am getting an error shown in the picture. Any idea what this is?
![meanjsyo](https://cloud.githubusercontent.com/assets/8686962/10611006/ac7cf470-7763-11e5-89c3-7d3fce3edbab.png)

[2015-10-20 15:14] codydaig commented on #136
@farhatnawaz Unfortunately We don't support Node 4 yet.

[2015-10-20 15:14] #136 closed

[2015-10-21 01:48] achapela commented on #133
Same here on ubuntu 14.04.

[2015-10-21 08:10] aladdam opened #137 "meanjs subgenerators with 0.4.0 or 0.4.1"
Hi,

I am trying to use sub-generators and facing issue.

E.g. when I tried to create angular-module, the prompts are not asking for the module's destination. Rather they are asking for project which eventually failed when I selected current directory of an existing project. Same happened when I tried with "meanjs:crud-module".

Is there anything I am missing here?

PS C:\data\angularjs\tst003> yo

[2015-10-21 13:52] joehoppe commented on #118
On Windows 7, tried the "git bash here" workaround, but I can't use the arrow keys to navigate to 0.4.1. The arrow keys just don't move the cursor. So I couldn't install 0.4.1. Had to use 0.4.0.

[2015-10-21 15:06] ilanbiala commented on #137
There are no subgenerators released yet for the new generator. Hold tight.

[2015-10-21 15:06] #137 closed

[2015-10-21 15:38] aladdam commented on #137
Is there any way to download load old version and use? Please suggest.

Thanks

From:"Ilan Biala" <notifications@github.com>
Date:Wed, Oct 21, 2015 at 8:06 AM
Subject:Re: [generator-meanjs] meanjs subgenerators with 0.4.0 or 0.4.1 (#137)

There are no subgenerators released yet for the new generator. Hold tight.

—
Reply to this email directly or view it on GitHub.￼

[2015-10-25 09:28] LiterallyElvis commented on #135
I have this same issue.

[2015-10-25 09:40] quarkey commented on #135
Me too, can't seem to find out why :(

[2015-10-25 10:15] LiterallyElvis commented on #135
@quarkey upon investigation, MEAN doesn't support node versions > 0.12, it would seem: https://github.com/meanjs/mean/issues/1015

[2015-10-25 11:44] quarkey commented on #135
@LiterallyElvis I see, thanks for pointing out :)

[2015-10-25 22:07] codydaig commented on #135
@LiterallyElvis @quarkey @mahlu

We don't officially support Node 4 yet, however, I have been running Node 4 in my dev environment now for several weeks and haven't had any issues on the master branch. So, I would give that a shot, and not use the generator at this time.

[2015-10-25 22:21] #126 closed

[2015-10-25 23:39] mahlu commented on #135
I have just tried that and unfortunately I am still getting "gyp ERR! build error(s)"...
I guess I am downgrading to node 0.12 until node 4 is officially supported.
Thanks and closing this...

[2015-10-25 23:39] #135 closed

[2015-10-25 23:58] codydaig commented on #135
@mahlu Can you open an issue in the meanjs/mean repo with the exact error message? I'm curious as to what the error message is and how we can resolve it. I'm unable to duplicate it, and need the full error message to help diagnose.

[2015-10-26 00:09] sugeun commented on #79
@Dwiea I'm having the same issue. It worked correctly by downgrading generator-meanjs version as @firasm101 suggested. I don't particularly like this workaround cause I wanted to use the chat example as a start of my project.

[2015-10-26 04:01] iamnizzam commented on #119
any update @ilanbiala

[2015-10-26 13:49] ilanbiala commented on #119
@iamnizzam #131

[2015-10-26 21:21] edrpls commented on #133
Experiencing same problem, running 10.10.5 too.

[2015-10-28 01:13] iasinDev opened #138 "Error in yeoman generator 0.4.X"
After installing yeoman and generator-meanjs, when executing yo meanjs and answering interactive questions I'm getting:

? Would you like to generate the chat example module? No
   create xmen/package.json
   create xmen/bower.json
   create xmen/config/env/default.js
Running npm install for you....
This may take a couple minutes.
Error: stderr maxBuffer exceeded.
    at Socket.<anonymous> (child_

[2015-10-28 01:32] ilanbiala commented on #138
I'm not sure where maxBuffer is being exceeded, all I can say is try again, because this seems like an issue that happened during npm install.

[2015-10-28 01:36] iasinDev commented on #138
I've tried again 2 or 3 times more and the same :-(  . The thing is that on another virtul machine I have the generator of the previous stable version, I think it's 0.3.0, that works perfect, but I have this error with 0.4.0 0.4.1 and master. I've been searching thr 0.3.0 version without success, there is a way to use this version instead?

[2015-10-28 01:48] codydaig commented on #138
@iasinDev I would say this is some soft of enviorment settings. I'm not familiar with vagrant, but I would assume it can only handle x amount in the stdout, and the npm install may be exceeding that. I would try cloning the master branch from meanjs/mean and see if npm install gives you the same issues or not.

[2015-10-28 19:34] iasinDev commented on #138
Hi Cody, I've been trying on another computer where I have more memory to alocate, yesterday I tried with a virtual machine with 2048 MB, and today with 4096, but the same result. I keep trying but only seems working under Vagrant the 0.3.0 version.

Meanwhile, this version is hook on other github? on this one, I only can see 0.4.1 version.

There is something I can post to solve this issue?

than

[2015-10-28 19:55] iasinDev commented on #138
apart from that, I don't see the ascii of yeoman, is it an error?
![screenshot003](https://cloud.githubusercontent.com/assets/12020079/10801153/3f9d991e-7db6-11e5-97fc-8bbec5a1b8b4.jpg)

[2015-10-28 20:10] iasinDev commented on #138
And after several minutes I get the previous trace

[2015-10-29 03:01] Steven-N-Hart opened #139 "Generator is always overwriting"
I can not use the yeoman generator at all.  It always just wants to create a new repo.  What am I doing wrong?
[code]

[2015-10-29 03:43] codydaig commented on #139
@Steven-N-Hart Duplicate of #119

[2015-10-29 03:43] #139 closed

[2015-10-29 07:57] sovattha opened #140 "Unable to generate app with NodeJS 4"
Hi,

I tried to generate an empty app using `yo meanjs`.
I tried on my Windows 8.1 using Git Bash, then using my Debian 7 installation.
I tried with different options (master/0.4.0/0.41, with CRUD, without, etc.)

This is what the ouput looks like:

[code]

Any help would be appreciated. Thanks!

[2015-10-29 15:28] codydaig commented on #140
@sovattha We don't fully support Node 4 yet. Sorry. :(

[2015-10-29 15:28] #140 closed

[2015-10-29 16:11] sovattha commented on #140
Ok, thank you but what's a working configuration?
If I install a Debian with NodeJS 0.10, would it work?

[2015-10-29 16:21] codydaig commented on #140
0.10 or 0.12 and it should work.

[2015-10-30 13:56] iasinDev commented on #138
Hi again, regarding, http://stackoverflow.com/questions/23429499/stdout-buffer-issue-using-node-child-process

Maybe it's a problem with child_process in app/index.js ? that need to be bigger?

[2015-10-30 15:40] ilanbiala commented on #138
@iasinDev maybe. @codydaig thoughts on that? Maybe you can npm link a local clone of the master branch with that change to see if it works?

[2015-10-30 22:20] superABD commented on #133
I ran into same issue. I'm on OS X 10.11.

[2015-11-01 07:09] crg821 commented on #133
Having the same issues here, any fix yet? OS X 10.10.5

[2015-11-01 16:13] ilanbiala commented on #133
Are you getting exactly the same error as above?

[2015-11-01 23:08] GeorgeWilliamson commented on #79
Hi I'm one of the many I would say stuck at day 9 on the 30 day challenge. (re crud generator) I see from above the 0.4.0 works for a vertical-module. How can I download this generator ? Have tried sudo npm install --global meanjs/generator-meanjs0.4.0  , does not work. Is there any chance of having a stable version of meanjs, I'm using Ubuntu 14  and it's really a hit or miss exercise building me

[2015-11-02 12:34] Faiz7412 opened #141 "Its taking too long to generate"
I have node v4.2.1, npm v3.3.10, yo v1.5.0.
I had no issues in scaffolding using this generator. However after updating node, npm and yo and reinstalling the generators, it's taking hours and nothing happens. I have had issues with few other generators as well. Is this generator compatible with new version of node?

[2015-11-02 15:51] ilanbiala commented on #141
@Faiz7412 we don't yet support npm 3 and yo 1.5. We're working on adding more features to the generator before expanding support to other versions. Help us out with #131 and once we get that going we'll start adding tests. Also, the MEAN repo itself needs to support that stack, and it may have issues with npm 3.

[2015-11-02 15:59] hafsteinn commented on #119
Any news on the vertical module generator ?

Using 0.4.1 and doing 'yo meanjs:vertical-module asdf' results in yo trying to scaffold a brand new project ...

[2015-11-02 17:27] ilanbiala commented on #119
@hafsteinn #131 is still open and we need to finish that up.

[2015-11-02 18:47] superABD commented on #133
@ilanbiala If you were asking me, then yes. I'm getting same error as above.

[2015-11-04 07:11] sdoushi1 commented on #133
Im having same Issue here, ubuntu.

[2015-11-09 12:11] tmundt commented on #133
Will there be a fix for MacOS or an update for NodeJS 4.x.x soon? Why is meanjs stated "outofdate" atop the readme-File?

[2015-11-09 18:00] GPnow commented on #79
@GeorgeWilliamson  any progress mate ???

[2015-11-11 14:44] bhavik3184 commented on #79
yo meanjs:vertical-module doesn't work on my windows 8.1 machine.

[2015-11-11 15:45] maximmai commented on #124
Hi I am having the same issue on Ubuntu 14.04 x64, with `node` version 5.0

Here is my log (command line log):

[code]

[2015-11-11 21:30] jchukwum commented on #124
Unfortunately, I too am having the same problem. Even after choosing master as described by Cody.

This is my ouput:

jchukwum@mxsdev1:~/projects/bill$ yo meanjs
undefined
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? master
master
? In which folder would you like the project to be generated? This can be changed later. mean
Cloning the MEAN repo...

[2015-11-12 23:25] ilanbiala commented on #133
@tmundt where do you see that?

[2015-11-13 09:02] vaibhavsinghh commented on #124
same error even i am getting... i guess its all version issues, waiting for yo generator compatible with latest node version.

[2015-11-13 09:34] vaibhavsinghh commented on #135
Using node 0.12 still same error
Error: Command failed: /bin/sh -c cd four && npm install
npm WARN install Couldn't install optional dependency: Unsupported
npm WARN install Couldn't install optional dependency: Unsupported
npm WARN prefer global jshint@2.8.0 should be installed with -g
npm WARN prefer global node-gyp@3.0.3 should be installed with -g
npm WARN prefer global nodemon@1.3.8 should be

[2015-11-13 12:37] rumes opened #142 "ubuntu not genarate"
my
node version v4.0.0
npm version 3.3.12
yo version 1.5.0
my operating system is ubuntu 14.04 and when I'm going to generate mean project from yo meanjs generator i get below error.

rumes@rumes-HP-ProBook-4530s:/var/www/html/meanjs$ sudo yo -meanjs
? 'Allo rumes! What would you like to do? Meanjs

Make sure you are in the directory you want to scaffold into.
This generator can also be run with:

[2015-11-14 14:24] samhendrickx commented on #79
Same issue here

[2015-11-14 15:23] GPnow commented on #79
they already said they are working on the crud sub-generator for 0.4x,so do it manually for now i guess :+1:

[2015-11-14 22:10] cvcc commented on #142
same issue with me,
node version v5.0.0
npm version 3.3.12
grunt-cli v0.1.13
bower 1.6.5
yo version 1.5.0
Python 2.7.6

OS: Linux [Host_Name] 3.16.0-53-generic #72~14.04.1-Ubuntu SMP Fri Nov 6 18:17:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
ElementaryOS 0.3.1 Freya 64-bit

[2015-11-16 02:18] SharkIng opened #143 "So the Sub-Module Generator still not available for v4.1.0?"
Reading the Official Doc. There is some command line like "yo meanjs:crud-module test"

However, it seem does not work yet?

In the mean time, what should we do to generate module?

[2015-11-16 02:19] edrpls commented on #143
You could probably copy/paste the directory and edit the files as needed or downgrade to 3.*

[2015-11-16 06:18] dmintercept commented on #124
i'm using clementine.js in a cloud9 enviroment. works great for me and it
is a very similar alternative.  There is a nice tutorial on freecodecamp.com

On Fri, Nov 13, 2015 at 4:02 AM, vaibhavsinghh <notifications@github.com>
wrote:

[2015-11-16 07:52] surprisetalk commented on #133
I encountered the same problem when trying to install meanjs with nodejs@4.2.2 and npm@2.14.10. Going into the package.json (in the cloned meanjs repo) and changing

to

did the trick.

Credit goes to @russfrisch

[2015-11-17 07:49] front-thinking commented on #79
Same issue here
+1

[2015-11-17 17:52] boykoc opened #144 "0.4.x Documentation Typo"
Small typo on the 0.4.x documentation in the documentation alert div here: http://meanjs.org/docs/0.4.x/

Change "...please let us know by submitting on issue on github ..." to "...please let us know by submitting an issue on github ...".   Changing first "on" to "an".

[2015-11-17 18:17] codydaig commented on #144
@boykoc Do you want to submit a PR? It would be against the gh-pages branch in the meanjs/mean repo.

[2015-11-17 22:52] jsantana90 commented on #143
how do you downgrade, I did `npm view generator-meanjs versions` and got
[code]

But no `0.3.x` version

[2015-11-17 22:52] codydaig commented on #143
The 0.1.x versions of the generator generate 0.3.x versions of the project.

[2015-11-17 23:03] codydaig commented on #143
If your using the 0.3 structure of the project, yes, the sub generators do work

[2015-11-17 23:29] SharkIng commented on #143
@codydaig is that mean I still dont have any way to generate a 0.4.1 structure right now?

[2015-11-17 23:30] edrpls commented on #143
I'm not @codydaig, but yes. It means that.

[2015-11-17 23:39] codydaig commented on #143
@SharkIng The latest generator generates the 0.4 app, but does not have any sub generators.

[2015-11-19 00:47] amaglonso commented on #117
I also got stopped at "Running npm install for you....This may take a couple minutes." I have the below versions:

node -v
v0.12.7

npm -v
2.11.3

yo --version
1.5.0

node-gyp -v
v3.1.0

npm info npm version
3.4.0

[2015-11-19 06:19] vaibhavsinghh commented on #124
Yo generator working fine with these versions :)
node version ~> 5.1.0
npm version  ~> 3.3.12

[2015-11-19 06:24] finid commented on #124
@vaibhavsinghh, on what distribution? Can't get it to work on CentOS 7.

[2015-11-19 06:34] vaibhavsinghh commented on #124
haven't tried it on CentOS 7. I am using ubuntu 14.04

[2015-11-19 11:28] mthomson19 commented on #121
Cloning the MEAN repo.......
Error: Command failed: C:\Windows\system32\cmd.exe /s /c "rm ./mean/bower.json"
'rm' is not recognized as an internal or external command,
operable program or batch file.

I am having the same problem. I am new to the MEAN stack and application generation. Does anyone have a suggestion to resolve this issue? I am developing on a Windows7 machine. Should I use a Linux m

[2015-11-19 12:52] rlyman40 commented on #121
Marc,
I believe that Cody is working on a more generic solution but as a
workaround I did this (knowing that this is probably not the best way to
solve this).

in your C:\Users\{your user
name}\AppData\Roaming\npm\node_modules\generator-meanjs\app\index.js

add this near the top ( I added it just below the exec function around line
20)

var rmcmd = 'rm ';
var rmrfcmd = 'rm -rf ';
if (process.platf

[2015-11-20 07:08] rumes commented on #142
@cvcc
 found any solution man?.

[2015-11-20 20:48] tmundt commented on #133
Thank yo @surprisetalk ! But the question remains: Why is meanjs marked as  "outdated"? Is mean.io an alternative to mean.js?

[2015-11-20 22:22] surprisetalk commented on #133
@tmundt
Sorry if I was unclear. I was using [Yeoman](http://yeoman.io/index.html) to install [meanjs.org](http://meanjs.org)'s MEAN stack with `yo meanjs`. I don't think [mean.io](http://mean.io) has any relation to this project.
That being said, I don't know who to blame for the errant versioning on grunt-node-inspector; it could be any of the many npm dependencies.

[2015-11-21 17:43] hiteshdevlpr commented on #118
Thanks a ton @tpt22133  worked for me too.

[2015-11-22 20:55] vko-online opened #146 "Project dead?"
Last commit 2 months ago

[2015-11-22 21:01] lirantal commented on #146
It's not that. @codydaig is working very hard on maintaining it.

[2015-11-22 22:25] #146 closed

[2015-11-24 21:11] ArikMaor commented on #133
also experiencing same issue

[2015-11-25 09:54] cvcc commented on #142
@rumes i tested on a new virtual machine running Ubuntu server x64 14.04.3 LTS.
i still got some similar errors, but the app is runnung now.

[2015-11-25 11:44] ignasg opened #147 "Upgrade path?"
Hi All,
I have used meanjs version 0.3.x with generator to scaffold the initial application as 0.4 was unstable at that time. We are considering the upgrade to meanjs 0.4.x to be able to use new mongoose, etc. However I am not able to find any information for upgrade path when using the generator. Does it mean I have to rebuild the application more or less from scratch?
Also is the generator worki

[2015-11-26 00:41] matenoz commented on #119
A rude bash script (workaroud for linux user):
1) create a template directory (see below) in the app's root:
 template/
├── client
│   ├── client.module.js
│   ├── config
│   │   ├── client.config.js
│   │   └── client.routes.js
│   ├── controllers
│   │   └── client.controller.js
│   ├── services
│   │   └── client.service.js
│   └── views
│       ├── create.client.view.html
│       ├── edit.clie

[2015-11-26 03:21] silentzone opened #148 "must run bower install before grunt"
should add this in readme

[2015-11-26 04:16] rumes commented on #142
the errors not going to effect on future development?.

[2015-11-26 08:50] GeorgeWilliamson commented on #142
I gave up on Ubuntu, all the same symptoms as the 1st post, had a good supply of hard disks so tried many clean installs, eventually after about a month loaded centos 7 and bingo, only takes 3 or minutes  to do its stuff and no errors, have always used node version 10.40. Would say its something to do with Ubuntu and the present meanjs -generator, any way just a thought.

[2015-11-26 09:17] rumes commented on #142
@GeorgeWilliamson
thank for your thought man.

[2015-11-26 14:36] ilanbiala commented on #148
@silentzone can you create a PR?

[2015-11-26 19:04] dpranav007 commented on #143
any idea by when we can have sub-generators , vertical module creator ?
there was a #0.4-dev branch which allowed vertical module creation , but now breaks with the latest release ?

[2015-11-26 23:17] codydaig commented on #148
npm install runs bower install

[2015-11-27 06:54] dbelieves commented on #124
not working on macosx getting the same error.

node version ~> 5.1.0
npm version ~> 3.3.12

[2015-11-27 07:32] dbelieves commented on #124
got it working...
node v: 0.12.8
npm : 2.14.9...

phew...

[2015-11-27 11:15] dbelieves commented on #79
4 days ago it has been updated...

but still i am facing the issue...

[2015-11-27 12:10] dbelieves commented on #143
i am also waiting for vertical modules.

i feel so helpless at this point of time.
had i known to code at such a good level i would have surely contributed. :|

[2015-11-27 13:31] dbelieves commented on #143
also 0.3 is not available now.
stuck.

[2015-11-27 15:39] amccullough19 commented on #117
also getting stuck at Running npm install for you... This may take a couple minutes

node -v
v0.12.7

npm -v
2.11.3

yo --version
1.5.0

node-gyp -v
v3.1.0

npm info npm version
3.5.0

npm info generator-meanjs version
0.4.1

[2015-11-28 19:16] Syferus opened #151 "Endless Hang on 'Running npm install for you.... This may take a couple minutes.'"
Running Ubuntu 14.0.4, Node 0.12.8 and NPM

Everything goes swimmingly until I try to scaffold out the app and get

 'Running npm install for you....
This may take a couple minutes.'

Is this an issue with permissions? If so, how can I fix it?

[2015-11-28 19:23] codydaig commented on #151
Theres an update waiting too be published. Once its published, it should work.

[2015-11-28 19:59] Syferus commented on #151
Thanks Cody - all the work you do on MeanJS is really appreciated.

[2015-11-28 20:20] vvint3r commented on #121
This is solved by using "Git Bash Here" on the project folder. Then yo meanjs worked perfectly!

[2015-12-01 05:48] waheedsid commented on #124
@dbelieves : please tell me a good way to downgrade npm and node

[2015-12-01 18:53] kevinchevallier commented on #117
Hey guys, finally got it to work with this setup:
node: 0.12.8
npm: 2.14.9
yo: 1.5.0
node-gyp: not installed
npm info npm version: 3.5.0
npm info generator-meanjs version: 0.4.1

If it can help.

[2015-12-01 18:56] ilanbiala commented on #115
@mleanos would you be able to create a PR for the chat module?

[2015-12-02 10:41] dbelieves commented on #124
@waheedsid , this was helpful for me on OSX : http://apple.stackexchange.com/questions/171530/how-do-i-downgrade-node-or-install-a-specific-previous-version-using-homebrew.

[2015-12-03 05:37] militeli22 commented on #138
I have the same problem . anyone found a solution ?

[2015-12-04 16:14] ilanbiala commented on #121
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:14] ilanbiala commented on #124
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:14] ilanbiala commented on #132
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:15] ilanbiala commented on #133
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:15] ilanbiala commented on #138
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:15] ilanbiala commented on #141
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:15] ilanbiala commented on #142
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:15] ilanbiala commented on #148
@silentzone can you try the 0.4.2 release and see if that fixes any of your issues?

[2015-12-04 16:16] ilanbiala commented on #151
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Please try it out and if it resolves your issues, let us know!

[2015-12-04 16:17] ilanbiala commented on #147
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. It should not have the bugs that came with 0.4.1, and it should allow you to scaffold 0.4.2 apps as well. Unfortunately, the upgrade path isn't smooth because there were lots of changes in the framework itself. If you have any specific questions, please feel free to ask.

[2015-12-04 16:18] ilanbiala commented on #143
@codydaig and I have worked to get rid of many of the bugs in 0.4.1, and today we released 0.4.2. Unfortunately, it does not have subgenerators and module generators as we are still working on PRs #131 and #145.

[2015-12-07 09:14] nithinreddygaddam commented on #79
how do u do it manually?

[2015-12-07 11:22] GPnow commented on #79
Simple,copy paste the Article crud module,and rename everything inside. :+1:

[2015-12-07 11:31] dbelieves commented on #79
@GPnow , that takes way too much time :|

[2015-12-08 04:14] makzee commented on #138
Hi @ilanbiala, 0.4.2 still has the same issue.

[2015-12-08 07:12] militeli22 commented on #138
hiii , sorry my english is very bad .

i have solved the Problem. The Problem was the  MongoDB Driver for Windows and Environment Settings.

You Need For Windows :
Visual Studio c++ 2010 (do not use higher versions)
Windows 10 64bit SDK
Python 2.7 or higher

And Kerberos Node Package :
npm install -g node-gyp

repository:
https://www.npmjs.com/package/mongodb

[2015-12-08 15:15] codydaig commented on #138
@makzee Does @militeli22's solution solve your problem by chance?

[2015-12-09 05:07] Yording commented on #118
Hi @joehoppe,¿ Could you navigate with arrow keys?

[2015-12-09 05:10] Yording commented on #118
I can not navigate with the keys flechas.¿any solution?

[2015-12-09 10:22] Faiz7412 commented on #141
Still not solved, unfortunately.

[2015-12-09 11:15] Faiz7412 commented on #141
It took time, but yes I can scaffold now! Thank you so much!

[2015-12-09 13:18] ilanbiala commented on #141
@Faiz7412 was there anything in particular that was slow?

[2015-12-09 15:17] atomicnation commented on #121
Yep, no problems using Git Shell!!!
Thanks to all.

[2015-12-09 15:44] ilanbiala commented on #121
@codydaig we forgot to switch the remove functionality to something other than `rm`. Should we use rimraf as someone suggested?

[2015-12-09 17:18] codydaig commented on #121
@ilanbiala Crap. Yes. That's what I would recommend. Do you want to submit the PR or do you want me to? I'm moving this week, so I probably won't be able to submit one until the weekend.

[2015-12-09 21:59] ilanbiala commented on #121
I have finals until next week, so I'll also be busy for the next week. If you can get to it first, awesome. If not, then after the 17th I'll probably do it.

[2015-12-15 21:20] jjcad commented on #138
I'm getting the same error as OP using the latest version of the generator running Ubuntu 14.04.  It happens regardless of whether I try to generate with 0.4.0, 0.4.1, or 0.4.2.

[2015-12-17 02:35] satyarapelly commented on #143
documentation on meanjs show crud-module subgenerator not working, anybody has working repo, so that pull it??

[2015-12-18 19:36] artatro commented on #151
I am still experiencing this problem

[2015-12-18 22:36] calarconpieriz commented on #79
So the conclusion is that there is no CRUD generator anymore?

[2015-12-19 03:38] UndeadBaneGitHub commented on #143
https://github.com/meanjs/generator-meanjs/pull/157
All but CRUD and ACL generators are there. CRUD is coming really soon, ACL to follow.

[2015-12-19 15:15] ilanbiala commented on #151
@codydaig any ideas? I'm not sure what it is.

[2015-12-19 15:16] ilanbiala commented on #79
@calarconpieriz we are still finalizing thatPR,  so hopefully very soon.

[2015-12-19 15:26] codydaig commented on #151
@artatro What OS are you using? Node Version? NPM Version? What version are you trying to generate of MEAN.JS?

[2015-12-19 21:15] #148 closed

[2015-12-19 21:15] #147 closed

[2015-12-19 21:16] codydaig commented on #143
@UndeadBaneGitHub Thanks for hard work and awesome PRs! We'll review them individually and get them merged in.

[2015-12-19 21:16] #143 closed

[2015-12-19 21:16] #141 closed

[2015-12-19 21:16] #133 closed

[2015-12-19 21:17] #124 closed

[2015-12-19 21:17] #132 closed

[2015-12-20 22:42] ilanbiala opened #172 "Add more tests and test infrastructure"
@codydaig I'd like to add Gulp here to add some extra testing, such as running JSHint+ESLint in addition to Mocha. Any objections?

[2015-12-21 00:42] codydaig commented on #172
@ilanbiala No objections. I think it's needed.

[2015-12-21 11:30] mleanos commented on #172
+1

[2015-12-23 04:02] mattbodman commented on #151
@Syferus This happened to me to, but when I waited a REALLY long time (10mins+), it worked eventually.  (Mac El Capitan, Node v4.2.2, NPM v3.5.2 trying to generate MeanJS 4.0.0)

[2015-12-24 09:28] krissm commented on #151
I have the same problem on windows 10, node 4.2.1, npm 3.5.3.

[2015-12-24 18:08] ilanbiala commented on #151
How long does it take to just run `npm install` after deleting `node_modules`?

[2015-12-24 19:19] #172 closed

[2015-12-26 08:20] hillkim7 commented on #117
Thanks guys for mentioning version of npm packages.
It worked as it was written.

[2015-12-29 06:10] krissm commented on #151
it only happens when I try to generate the meanjs stack using the yo generator. When I clone the meanjs git repository npm install works fine.

[2015-12-29 09:06] srapelly opened #176 "How to change the mongodb connection once created"
Hi,

I have a requirement, i want to use multiple mongodb connections like
mongodb://localhost/mean-dev1
mongodb://localhost/mean-dev2

i have a menu, where i can select the category, based on that, i want to switch my mongoose connection point to different.

how can i do this? how should I reset the session.

Please help me in this regards.

Thanks
Satya

[2015-12-29 15:05] codydaig commented on #176
@srapelly Your app should always maintain a connection to the mongodb. What if User1 is using mean-dev1 but User 2 is using mean-dev2? So, in this case you would need to open and maintain 2 db connections. What's for reasoning for having multiple db connections?

[2015-12-30 10:50] srapelly commented on #176
Thanks you sir replying the post.
We have requirement, where we capturing data for academic project.
One database i will use it for application login, manage users etc. but we have academics category (say c1, c2, c3), i want to enter the subjects, topics, assessments, exams etc under each category.
subject, topics, assessments etc schema's are same but i want to push this set into different databa

[2015-12-30 11:16] csicar opened #177 "executing `meanjs:crud-module` runs `meanjs` generator"
After creating an meanjs-application with yo by:
[code]
(this is all working perfectly)

When I try to create new module in the app by running ` yo meanjs:crud-module testModule`
yeoman will start the normal `meanjs`-generator. This happens when I am in the `<app>/`-Directory as well as in the `<app>/modules` directory

All dependencies (nodejs, yo, meanjs, ...)  are up to date, so they shouldn't

[2015-12-30 15:33] ilanbiala commented on #176
I think this is more custom than our generator allows and you'd be better off doing this in the config once you have generated the app.

[2015-12-30 17:29] codydaig commented on #177
The crud-module isn't available yet for the latest version on the generator. We are in the process of moving all the old sub generators over.

[2015-12-30 17:29] #177 closed

[2015-12-30 18:57] Megaverse commented on #151
Experiencing same problem with Node 0.12.3, NPM 2.9.1 and I've tried with meanjs versions 4.0.0, 4.0.1 and 4.0.2.

[2015-12-30 22:17] mleanos commented on #176
I agree with @ilanbiala

@srapelly IMO, each database should be it's own API (maybe different backend as well). However, in the use case you described it doesn't make sense to separate into multiple databases. You should create relationships to your models for your few categories.

If this truly is a requirement, then you can customize the mongoose config, just as Ilan said. Each model (other than

[2015-12-30 23:36] EliasJorgensen opened #178 "Error: Command failed"
Hi,
I'm trying to use the meanjs generator, but when i hit the step "Running npm install for you...", i get this:
[code]

I'm using Node v4.2.4 and npm v3.5.2.
It happens when i try to generate MeanJS 0.4.0, 0.4.1 and 0.4.2

[2015-12-30 23:50] shubhank-srivastava commented on #79
@GPnow and @dbelieves  Try this https://github.com/shubhank-srivastava/meanjs-module-generator
A small script that I wrote that won't take much time by just doing `node modgen articles products` to create a products module similar to articles module.

[2015-12-30 23:55] ilanbiala commented on #178
You get the same message when generating all 3 versions?

[2015-12-30 23:57] EliasJorgensen commented on #178
I do, it's very strange...

[2015-12-31 02:39] GeorgeWilliamson commented on #79
Thank you,

Shubhank Srivastava

On Thu, Dec 31, 2015 at 9:50 AM, Shubhank Srivastava <
notifications@github.com> wrote:

--
Best Regards.

George Williamson.

Mobile     +61439749014

[2015-12-31 09:06] EliasJorgensen commented on #178
<b>EDIT</b>: I get another error when i generate 0.4.1 and 0.4.2
[code]
I got the error from my original post when generating 0.4.0.
I'm using an ubuntu/trusty64 vagrant box.

[2015-12-31 17:47] ilanbiala commented on #178
Can you try with npm 2.x.x?

[2015-12-31 21:03] EliasJorgensen commented on #178
I downgraded to npm v2.14.14 and tried to run the generator for each version.
Here's a paste of my terminal: http://pastebin.com/XgSGA9wq

[2015-12-31 22:58] srapelly commented on #176
@mleanos thank your response. I want to manage to register model with all category dbs. I want to use createConnection and con.model('model', new Schema({ .. }).

[2015-12-31 23:26] ilanbiala commented on #178
Are the folders empty? Is there an error log file in the directory or somewhere?

[2016-01-01 12:02] EliasJorgensen commented on #178
The folders aren't empty. Here's the content of them:
[code]
The folder "mean" is 0.4.2, "mean1" is 0.4.1 and "mean2" is 0.4.0.
As far as i can see, there isn't any error logs in the directories or in my home folder, where i ran the generator from.

[2016-01-01 21:39] richerlariviere opened #179 "Load dependency process is killed"
I used the yo generator (0.4.2) to generate a mean app on a Vagrant box (trusty64). After that I did `npm install`. This is what I got:

[code]

I upgraded the memory from 512Mb to 1024 and added 2 cpus to my Vagrant box. It changed nothing. I am using npm v3.5.2 and node v5.3.0

Thanks!

[2016-01-01 22:48] ilanbiala commented on #179
I've never seen Yeoman or Node output that, so can it have something to do with Vagrant.

[2016-01-02 19:28] csicar commented on #177
Is there any way to install the generator for version 0.3.*?

[2016-01-03 00:55] jjcad opened #180 "No 0.3.x versions available in npm registry."
Checking the versions available in the npm registry, it skips from v0.1.12 to v0.4.1

Are any v0.3.x available somewhere else since that's considered the present stable version according http://meanjs.org/?  Maybe the "Download" button on the front page should also be pointing to the stable version?  That way people who are just trying to use it can go ahead and do so, without having to try and fi

[2016-01-03 02:40] tbaustin commented on #119
I am getting this error when I run yo meanjs:vertical-module customers :
Error meanjs:vertical-module customers

You don't seem to have a generator with the name meanjs:vertical-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 2 registered generators run yo with the `--help` option.

[2016-01-03 06:17] ilanbiala commented on #180
0.1.12 is the 0.3.x generator.

[2016-01-04 16:54] jjcad commented on #180
Cool. I'm not sure if there's a way to update or clarify that in the npm registry, but I'd happy to submit a PR sometime this week to help clarify that in the documentation if that's something you'd be interested in.

[2016-01-04 18:59] UndeadBaneGitHub opened #181 ""temp" folder, generated after tests have been ran is not deleted"
It is cleared of contents, yes, but the folder persists.

I will adress it together with removing timeout(0) in PR, but better to have it as an open issue, so that it won't be forgotten.

[2016-01-04 22:09] srapelly commented on #176
Hi All,

I want to use mysql db along with mongo for the purpose of storing customer related information, organizations, groups, user activitity, reporting etc

How can i use mysql same as mongo db, maintaining the connection in the session?

thanks

[2016-01-06 11:44] Tjaard commented on #179
I had the same issue when using Vagrant for both the 64 and 32 bit Ubuntu installation. The script did work correctly when I performed the same steps on a regular virtualbox Ubuntu installation, so it is likely Vagrant-related.

[2016-01-06 22:50] mrjohnskelton commented on #79
See https://github.com/node-inspector/v8-debug/issues/7 for a suggested fix by @surprisetalk - worked for me on a shiny new version set

[2016-01-08 04:56] ilanbiala commented on #181
:+1:

[2016-01-08 04:58] ilanbiala commented on #176
MySQL and mongodb use different schemes as one is SQL and the other is NoSQL. Please use Stack Overflow, Gitter, or another forum fort hinges other than bugs and features.

[2016-01-08 04:58] #176 closed

[2016-01-09 15:03] sandy-01 commented on #151
@codydaig plz giv me the solution of meanJS "running npm install for you this may take couple of minute" i am waiting from last 3 hours but not getting any result

[2016-01-09 19:09] codydaig commented on #151
@krissm Try running the generator with `--skip-install`. See if that works. Then run `npm install` afterwards. Otherwise, I'm not entirely sure why it's happening. It seems to be a weird dev env bug.

[2016-01-09 19:11] codydaig commented on #179
That's npm v3 with the funky output. However meanjs does not work with node 5 yet.

[2016-01-09 19:11] codydaig commented on #180
@jjcad go ahead and submit a PR! The documentation lives at meanjs/meanjs.github.io

[2016-01-09 19:12] sandy-01 commented on #151
Hope so codydaig I will try thnks and get back to u

[2016-01-09 19:13] sandy-01 commented on #151
Codydaig plz reply me

[2016-01-09 19:17] codydaig commented on #151
@sandy-01 Try that potential solution I posted and see if that works.

[2016-01-09 19:26] sandy-01 commented on #151
@codydiag when I yo meanjs in command promp it still show here"running npm install for you this may take couple of minute

[2016-01-10 17:59] ilanbiala commented on #151
do `yo meanjs --skip-install`

[2016-01-12 14:44] reuf commented on #79
@shubhank-srivastava  - thanks for the script - saves the day.

[2016-01-12 16:54] OVagner commented on #116
What function was missing? I got the same error and do not know what function is missing.

[2016-01-13 01:44] jpimentel commented on #119
Im getting the same error as @tbaustin

[2016-01-13 03:26] philipskokoh commented on #138
I have the same problem .
I am using CentOS 7.

[code]

[2016-01-13 08:12] philipskokoh commented on #138
I found out that it's because of old nodejs and npm version.
I install latest nodejs (v 5.4.0) and npm (v 3.3.12), and `yo meanjs` runs properly now.

[2016-01-13 14:45] makzee commented on #138
Thanks @philipskokoh I updated nodejs & npm and it worked.

[2016-01-13 15:41] ilanbiala commented on #119
This feature hasn't been added yet, we'll post on this thread once we have released new subgenerators.

[2016-01-13 15:43] ilanbiala commented on #138
Technically we do not guarantee support for Node v5, so proceed with caution.

[2016-01-13 15:43] #138 closed

[2016-01-18 15:22] rossvz commented on #142
I'm also noticing issues on Ubuntu running on a VirtualBox instance. Is this an issue with Ubuntu and the meanjs generators, or is it a node version incompatibility?

[2016-01-18 16:51] ilanbiala commented on #142
Our generator's CI is Linux, so I don't think that's the problem. I'm not sure what the problem is though, so I'd say try to reinstall the generator first.

[2016-01-18 16:54] rossvz commented on #142
Is there an issue where: "npm install -g generator-meanjs" doesn't install the other sub-generators?
![image](https://cloud.githubusercontent.com/assets/9866589/12397268/3275b3f2-bdda-11e5-8699-a2698e01f83f.png)

[2016-01-18 21:05] ilanbiala commented on #142
Which version do you have installed?

[2016-01-18 21:18] rossvz commented on #142
generator-meanjs version 0.4.2, node version 4.2.4, npm version 3.5.3

[2016-01-19 19:34] mukeshmk commented on #118
Hi, I need some help here.
I am running a Win 10 PC, I have installed MEAN Stack. and when I run the "yo meanjs" command in the terminal, I am getting the following error msg:

![capture](https://cloud.githubusercontent.com/assets/7903100/12429410/18f0633c-bf10-11e5-8a5e-3daaf397b4e0.PNG)

I have even tried using the "Git Bash" here option suggested here, it didn't work for me, but the above error

[2016-01-19 19:38] mukeshmk commented on #121
Hi, I need some help here.
I am running a Win 10 PC, I have installed MEAN Stack. and when I run the "yo meanjs" command in the terminal, I am getting the following error msg:

![capture](https://cloud.githubusercontent.com/assets/7903100/12429776/2ceffe68-bf12-11e5-9daa-b766b6f2844e.PNG)

I have even tried using the "Git Bash" here option suggested here, it didn't work for me, but the above error

[2016-01-19 23:27] GiankOtarola commented on #118
@mukeshmk if you have installed git on your Win 10, run "yo meanjs" in git bash console.

[2016-01-20 09:12] mukeshmk commented on #118
@GiankOtarola i tried that, and I have mentioned in my comment above, that the installation took me over 2 hours and there was no progress.

Is there any other way that i can solve this ?

[2016-01-20 16:10] UndeadBaneGitHub opened #187 "Tests that check file contents fail on Windows systems"
The check uses `\n` as newline, while in Windows it's `\r\n`.

[2016-01-20 22:41] ilanbiala commented on #187
https://nodejs.org/dist/latest-v4.x/docs/api/os.html#os_os_eol should help

[2016-01-21 04:42] Garvice opened #188 "mean-module sub-generator does not create content"
Running the sub -generator for mean-module does not create the folder structure or the content I would expect.

Am I doing something wrong? I first cloned the repository into the original generator location and ran npm install.

Here are the commands and output as well as content created.

[code]

[2016-01-21 18:29] ilanbiala commented on #188
What folder structure did you expect? @UndeadBaneGitHub is something possibly malfunctioning in the mean-module subgenerator?

[2016-01-21 19:24] UndeadBaneGitHub commented on #188
@ilanbiala I took the folders structure from the latest MEAN version. I will re-check if something accidentally got overlooked.

Also, subgenerator did create all the folders on both Winfows 10 and Debian machines that I have - and tests cover them. Unless I overlooked something in structure, everything should be fine.

[2016-01-21 21:02] mleanos commented on #188
@ilanbiala @UndeadBaneGitHub It seems like [this line](https://github.com/meanjs/generator-meanjs/blob/master/mean-module/index.js#L158) should be creating the module's `/server` folder, and then somewhere below that conditional block, the other folders (based on what the user selected) should be created.

As Ilan pointed out, it looks like it will only create the `/server/config` folder.

[2016-01-22 00:29] UndeadBaneGitHub opened #189 "this.timeout(0) is repeated in most of tests"
Instead repeating it, it should be moved to gulpfile.js

[2016-01-23 02:04] #181 closed

[2016-01-23 02:04] #189 closed

[2016-01-23 02:04] #188 closed

[2016-01-23 02:04] #187 closed

[2016-01-23 02:10] ilanbiala commented on #179
0.4.3 has been published, please try to see if the new version fixes your issue.

[2016-01-23 02:10] ilanbiala commented on #178
0.4.3 has been published, please try to see if the new version fixes your issue.

[2016-01-23 02:10] ilanbiala commented on #151
0.4.3 has been published, please try to see if the new version fixes your issue.

[2016-01-23 02:10] ilanbiala commented on #142
0.4.3 has been published, please try to see if the new version fixes your issue.

[2016-01-23 02:11] ilanbiala commented on #121
0.4.3 has been published, please try to see if the new version fixes your issue.

[2016-01-27 23:38] #180 closed

[2016-01-27 23:55] codydaig commented on #121
@MonProspecteur Feel free to reopen this issue if the latest version does not fix the issue. Thanks!

[2016-01-27 23:55] #121 closed

[2016-01-29 19:05] Aabir1 commented on #79
i am not able to use this=> sudo yo meanjs:crud-module costomers. please help me . i am stuck from yesturday

[2016-01-29 19:16] ilanbiala commented on #79
@Aabir1 what do you see when you run that? Have you installed 0.4.3?

[2016-02-01 05:34] manojsanjeewa commented on #23
- [ ]

sdasdadad

asd

asdas# asdasda##asdasdad

[2016-02-01 05:34] manojsanjeewa commented on #23
asdasdasd

[2016-02-01 14:13] Gwan-Wang opened #191 "fatal: You don't exist. Go away!"
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? master
master
? In which folder would you like the project to be generated? This can be changed later. mean
Cloning the MEAN repo.......
Error: Command failed: /bin/sh -c git clone --branch master https://github.com/meanjs/mean.git mean
fatal: You don't exist. Go away!

why? i can solve this problem, i

[2016-02-01 15:44] ilanbiala commented on #191
@Gwan-Wang are you on Windows?

[2016-02-02 02:57] Gwan-Wang commented on #191
@ilanbiala no, my os is centOS (Linux iZ28h29kk0fZ 2.6.32-573.12.1.el6.x86_64 #1 SMP Tue Dec 15 21:19:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux);

[2016-02-02 11:51] javasprict opened #192 "Windows 10, Administrator PowerShell - "yo meanjs" fails"
[Grabbed latest nodejs 4.x, installed it in c:\nodejs]
[Grabbed mongodb 3.2, installed it + created c:\data\db]
[Grabbed python 2.7, installed it in c:\python27]
[Already have GIT bash installed]
[Run powershell as administrator, chdir to c:\]

Output and choices:

You're using the official MEAN.JS generator.
? What mean.js version would you like to generate?

[Selected "0.4.2" with arrow keys, EN

[2016-02-02 18:23] ilanbiala commented on #191
We haven't tested against centOS, but my initial guess is that git isn't installed.

[2016-02-02 18:34] ilanbiala commented on #192
Are you on Windows? Can you try running the git command in quotes by itself in the command line?

[2016-02-03 10:37] Gwan-Wang commented on #191
@ilanbiala maybe you can test in centOS6.5 mini, and i have install git(1.7.1), if i find answer, i will write here

[2016-02-03 18:20] ilanbiala commented on #191
@Gwan-Wang I'm not sure how we can test against other OSes other than Mac on Travis. @codydaig @lirantal any ideas?

[2016-02-03 20:49] codydaig commented on #191
@ilanbiala
https://github.com/meanjs/mean/pull/1184
https://travis-ci.org/meanjs/mean/builds/106835692
I'll also add these for the generator repo if everything checks out on the main repo.

[2016-02-03 23:14] ilanbiala commented on #191
:+1:, though I don't think Travis does Windows, AFAIK we need Appveyor.

[2016-02-04 02:08] codydaig commented on #191
@ilanbiala #193 would have Travis test windows.

[2016-02-05 13:46] cataquil opened #194 "Question: running meanjs in Docker connect to localhost mongo"
I have build the DockerFile as an image
I can run it fine, I was wondering what command
I could use to have the meanjs docker container connect to the mongoDB running on the host.

Is this possible, I assume it must be but could require some port mapping.
the example in fig.yml shows both MongoDB and MeanJS running in 2 containers.

[2016-02-05 13:59] ilanbiala commented on #194
I'm not really sure what you're asking? Can you clarify?

[2016-02-05 14:24] cataquil commented on #194
here is the example of using the generator-meanjs DockerFile

[2016-02-06 11:51] eaktadiur opened #195 "yo meanjs:crud-module is not working for generator-meanjs@0.4.1', '0.4.2', '0.4.3'"
You don't seem to have a generator with the name meanjs:crud-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 14 registered generators run yo with the `--help` option.

old version are working fine

[2016-02-06 15:09] ilanbiala commented on #195
Are you using 0.4.3?

[2016-02-06 17:17] eaktadiur commented on #195
yes,

/usr/local/lib
├── bower@1.7.6
├── forever@0.15.1
├── generator-keystone@0.3.13
├── generator-meanjs@0.4.3
├── grunt@0.4.5
├── grunt-cli@0.1.13
├── npm@3.5.3
└── yo@1.6.0

[2016-02-06 17:26] codydaig commented on #194
@cataquil It is possible, but I am unsure the exact command syntax necessary to do it. That would be a good question for the Docker IRC channel. It becomes tricky too depending on your environment and OS.

[2016-02-06 18:46] ilanbiala commented on #195
try "mean-module"

[2016-02-06 19:52] eaktadiur commented on #195
yes, yo meanjs:mean-module customer is working for me. thanks

[2016-02-06 20:27] #195 closed

[2016-02-08 06:50] mdata2 commented on #79
@ilanbiala.. Are there any updates on the fix for ver 0.4.3?

[2016-02-08 10:17] fennrussel commented on #79
Same problem
C:\test> yo meanjs:crud-module meets
Error meanjs:crud-module meets

You don't seem to have a generator with the name meanjs:crud-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 16 registered generators run yo with the `--help` option.

Please help me

[2016-02-08 14:05] ilanbiala commented on #79
The command is `mean-module`. Sorry for the confusion guys.

[2016-02-10 14:38] hope-rahman opened #196 "yo meanjs:mean-module only create folder structure not CRUD"
yo meanjs:mean-module company and yo meanjs:crud-module company is not work on 0.4.3 but 0.1.12 working fine
![screen shot 2016-02-10 at 8 35 17 pm](https://cloud.githubusercontent.com/assets/10090382/12950137/db4ddd0c-d035-11e5-8f2d-57be1c2f239f.png)

[2016-02-10 16:04] ilanbiala commented on #196
@UndeadBaneGitHub any ideas?

[2016-02-10 16:16] UndeadBaneGitHub commented on #196
@ilanbiala mean-module was kinda designed to only create the folder structure and nothing else.
The actual CRUD implementation goes to CRUD module - and I'm almost done with it. Client-side implementation is done, only server-side is left.

The whole structure and templates have been updated already to look like the latest MEAN article/chat implementations, so it's going to be quite a big PR there

[2016-02-10 16:17] ilanbiala commented on #196
:+1: sounds good. @hope-rahman I hope that answers your question. We'll post on this issue when this is added in the next version.

[2016-02-10 17:01] hope-rahman commented on #196
thanks

[2016-02-12 15:04] antares667367 opened #197 "Can't generate meanjs project."
For a reason i completely dont get , this is what displays on my term while trying to generate a meanjs project.

For the record i'm behind a corporate proxy , i've managed to make npm ,bower , ruby and sass connecting outside but so far no luck with the generator.
Maybe i did something wrong but i merely followed the instructions.

i've used this tutorial :
https://github.com/meanjs/mean

**D:\fo

[2016-02-12 15:08] antares667367 commented on #197
Sorry , it seems my question is a duplicate from a previous topic .

And to answer the question asked in that duplicate :

D:\forks\x
λ ## git clone --branch v0.4.2 https://github.com/meanjs/mean.git app
Cloning into 'app'...
## fatal: unable to access 'https://github.com/meanjs/mean.git/': Couldn't resolve host 'github.com'

executing the commant between the quotes does not work either.

[2016-02-12 16:02] ilanbiala commented on #197
It seems like you can't git clone from github. That probably has something to do with the proxy. Try cloning from another URL and see if that works.

[2016-02-12 16:49] antares667367 commented on #197
Well, thanks a lot for the quick response mate.
I kinda «fixed» my problem in fact.
I've dl the zip file and unzipped it in the appropriate rep.
I had to use --force with grunt though for elint caused me some problems
too, the indentation of the gruntfile seems quite messed up !

Once started, the page is blank, wasnt i supposed to have a least a welcome
page as in the video tutorial ? , (the one

[2016-02-12 16:59] alexkempf commented on #197
@antares667367, I had a similar issue (also behind a corporate proxy). For me, I needed to add a few gitconfig settings.
[code]

I am not sure if they were both necessary or if they will even work for you, but they did the trick for me.

[2016-02-12 17:08] antares667367 commented on #197
I'll give a try.

Thanks

[2016-02-12 20:50] antares667367 commented on #197
ok , that was the proxy blocking my connection, now i've got another problem.

`    Fri, 12 Feb 2016 20:35:13 GMT body-parser deprecated undefined extended: provide extended option at co
nfig\express.js:57:24
    Fri, 12 Feb 2016 20:35:13 GMT express-session deprecated undefined resave option; provide resave optio
n at config\express.js:62:13
    Fri, 12 Feb 2016 20:35:13 GMT express-session depre

[2016-02-12 23:24] ilanbiala commented on #197
@antares667367 I can't really read the error message, can you paste it in a gist or something that is more clear? From a cursory look, take a look at config\express.js:62:13 and at some of the Connect-Mongo packages.

[2016-02-14 05:18] eecue commented on #196
Just want to say I'm excited for this. Thanks!

[2016-02-14 08:40] Siddharth-ss42279 commented on #79
facing same problem as of @fennrussel  ,  any solution ???

[2016-02-14 09:17] mahmoudalcharif commented on #79
@ilanbiala The mean-module  command has created any empty directory and not CRUD ready structure

[2016-02-14 09:24] mahmoudalcharif commented on #79
Thank you @shubhank-srivastava. Your script did the job :+1:

[2016-02-14 12:15] Siddharth-ss42279 commented on #119
same error as of @tbaustin  , any solution ??

[2016-02-14 12:55] Siddharth-ss42279 commented on #79
@GPnow  can u explain how to make crud module manualy??

[2016-02-14 15:59] ilanbiala commented on #119
Try `mean-module`, which is the first half of the vertical module generator when you install 0.4.3. We are working on getting the second half in as part of 0.4.4.

[2016-02-16 09:33] anstarovoyt opened #199 "Generator meanjs uses 'console.log()' directly"
Hi. According to the documentation http://yeoman.io/authoring/user-interactions.html :

Meanjs generator uses 'console.log' directly in 'app/log.js' and as result external tools cannot properly run it.

[2016-02-16 10:36] yashgt opened #200 "Unable to generate angular module"
E:\Projects\trulo>yo meanjs:angular-module trulo
Error meanjs:angular-module trulo

You don't seem to have a generator with the name meanjs:angular-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 16 registered generators run yo with the `--help` option.

I have already installed meanjs using:
npm install

[2016-02-16 14:54] ilanbiala commented on #199
@anstarovoyt care to submit a PR?

[2016-02-16 14:55] ilanbiala commented on #200
All the generators listed are folders in the repo: https://github.com/meanjs/generator-meanjs, so we don't have a finalized angular-module generator yet. Also, please install the latest generator version.

[2016-02-16 15:06] anstarovoyt commented on #199
@ilanbiala I will try

[2016-02-16 17:02] yashgt commented on #200
So which generator can we use to generate an angular module?
I also tried with latest version.
The online documentation mentions angular-module which does not exist.

On Tuesday, February 16, 2016, Ilan Biala <notifications@github.com> wrote:

[2016-02-17 04:34] hope-rahman commented on #196
have u make those changes

[2016-02-17 19:53] yashgt commented on #200
If some generators are NOT developed in the new version, is there a way I can obtain them from the EARLIER versions?
The documentation at http://meanjs.org/generator.html is for 0.3.x. It DOES show angular-module as a generator. However, the git repository no longer has the 0.3.x available for download.

It appears as if a new version is release on github without many features of the old version a

[2016-02-17 20:02] ilanbiala commented on #200
Install version 0.1.x from npm.

[2016-02-17 20:04] yashgt commented on #200
Sorry, but I am looking for a later version for which documentation is available. 0.3.x

[2016-02-17 21:52] ilanbiala commented on #200
That version on npm corresponds to 0.3.x support in MEAN.

[2016-02-19 16:03] eaktadiur commented on #196
we are excited to see new update. could u pls tell us how long it will take?

[2016-02-19 16:04] UndeadBaneGitHub commented on #196
@hope-rahman @eaktadiur The CRUD generator is ready and working, I will PR the update today, stay tuned! :+1:

[2016-02-19 16:08] eecue commented on #196
You are the bee's knees. ❤️

[2016-02-19 16:09] hope-soft commented on #196
thank you for the update

[2016-02-20 04:56] rof20004 commented on #196
I will test now.

[2016-02-20 06:13] rof20004 commented on #196
yo meanjs:crud-module namecrud not working yet '-'

[2016-02-20 06:43] rof20004 commented on #196
yo meanjs:angular-module modulename

not working too

[2016-02-20 22:22] UndeadBaneGitHub commented on #196
@rof20004 no more name specifying at the call. Call it just like this `yo meanjs:crud-module`
And there is no `angular-module` subgenerator, it is now called `mean-module`

Man, docs **seriously** need to get updated :)

[2016-02-20 23:52] kanethal opened #202 "Requires Ruby and Sass??"
Received the following error after running the generator (tried version 4.2 and master)
[code]
Ruby and Sass are not listed as requirements in the docs at http://meanjs.org/docs/0.4.x/
Are these requirements then? Or maybe I've done something horribly wrong... :(

[2016-02-21 03:06] ilanbiala commented on #202
Yes they are requirements. Can you make a PR so others are aware?

[2016-02-21 03:22] kanethal commented on #202
I would love to. But I'm a freaking newb and wouldn't know what to do...
I'll try to educate myself on that later if I get some time
On Feb 20, 2016 8:06 PM, "Ilan Biala" <notifications@github.com> wrote:

[2016-02-21 17:28] rof20004 commented on #196
Ok, I will waiting for merge, thanks. I tested mean-module and it works!!

[2016-02-22 14:11] rof20004 commented on #200
yo meanjs:angular-module not work, now is:

yo meanjs:mean-module

[2016-02-22 16:56] rof20004 commented on #202
Try this:

$ sudo apt-get install ruby (if you have no one yet)
$ sudo apt-get install ruby-compass
$ sudo npm install grunt-compass --save-dev

[2016-02-22 16:59] kanethal commented on #202
Thanks but I'm working in powershell
On Feb 22, 2016 9:56 AM, "rof20004" <notifications@github.com> wrote:

[2016-02-22 17:04] rof20004 commented on #202
Ok, then install ruby and execute?

gem install compass

[2016-02-22 17:24] kanethal commented on #202
Right, I had Ruby once upon a time before I became interested in node.
Trying to decide if I want to go with this solution
On Feb 22, 2016 10:04 AM, "rof20004" <notifications@github.com> wrote:

[2016-02-24 16:23] Matt-Webb commented on #79
Why is this issue marked as closed? I can't find a solution anywhere in here.

I am running MEAN version `0.4.2` with generator-meanjs version `0.4.3` neither of the following commands work:

`yo meanjs:vertical-module {NAME}`

or

`yo meanjs:crud-module {NAME}`

I get the following message:

[code]

The registered generators I have are:

[code]

Does't anyone know how to resolve this?

[2016-02-24 16:36] ilanbiala commented on #79
Use `mean-module`.

[2016-02-24 17:20] Matt-Webb commented on #79
@ilanbiala I tried this, I only get a set of empty directories?!

[2016-02-24 17:44] Siddharth-ss42279 commented on #79
yes, mean-module creates only empty directories.Rather you can use Article crud module @Matt-Webb

[2016-02-24 17:52] Matt-Webb commented on #79
Can you initiate the Article Crude module after the initial project create? @Siddharth-ss42279

I guess I could create an empty project with the Article Crude and copy is across?!

[2016-02-24 17:55] Siddharth-ss42279 commented on #79
yes, you can create project with Article module, than copy that article module it to your main project .it works fine...! @Matt-Webb

[2016-02-24 22:07] Matt-Webb commented on #79
Okay I just tried to do this, renaming the files and references from "articles" to my new module name, this is a **massively time consuming task**, even with a project Find + Replace, the individual files need renaming too!

Surely there is a fix for this generator???

[2016-02-25 11:30] vinayakvinay commented on #117
@codydaig hello Cody, What is the system requirements to use meanjs generator?

I can't succeed with Node v5.4.0 and npm v3.5.2.

I read your notes about support to node and npm versions. Should I use older versions of node and npm or is there any chance to newer node versions?

[2016-02-26 09:01] vinayakvinay opened #203 "crud-module generator issues"
Hello Cody,

I have the latest version of node installed in my machine (5.x of node, 3.x of npm). After facing lot of issues with the latest node version I downgraded to 0.12.x of Node and 2.x of npm.

My mean-generator version is 0.4.3. I can't use both crud and vertical module generators.

I using older version of Node and NPM where my other packages require newer version of node and npm.

Pleas

[2016-02-26 17:57] rof20004 commented on #203
You need to wait the pull with corrections->https://github.com/meanjs/generator-meanjs/pull/201

About vertical module generators, did you tried: yo meanjs:mean-module ?

angular-module not exists anymore and mean-module create all the struct client and server.

[2016-02-27 06:35] vinayakvinay commented on #203
yo meanjs:mean-module - only creates the folder structures. How to use CRUD module/Vertical module?

When I tried crud module generator I got the following error message:

Error meanjs:crud-module xmen

You don't seem to have a generator with the name meanjs:crud-module installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To se

[2016-02-27 06:37] rof20004 commented on #203
I said to you, #201

Wait for merge and then update your generator with npm.

[2016-02-27 06:43] vinayakvinay commented on #203
Thanks for the note. Can I work with latest version of Node or should I stay with older 0.12.x version?

[2016-02-27 06:44] rof20004 commented on #203
Yeah, you can update.

[2016-02-27 06:54] vinayakvinay commented on #203
I just want to utilize all the feature of meanjs generator such as CRUD modules and Angular sub generators. Please let me the system requirements. I prefer to use latest version but I can't work with mean generators with latest node realeases.

Node - 5.x latest stable
Npm - 3.x latest
generator-meanjs - ?? (Please suggest me the latest working version of generator)

[2016-02-27 06:59] rof20004 commented on #203
$ npm install generator-meanjs@latest

With this command (@latest) you always get the last version of any package.

[2016-02-27 07:00] vinayakvinay commented on #203
What about the Node version?

[2016-02-27 07:00] vinayakvinay commented on #203
What is the latest working version of Node with meanjs generator?

[2016-02-27 07:03] rof20004 commented on #203
I do not know, my packages are updated, then I always use the latest version, if you want to update node, you can do with npm install -g n, after in terminal use n stable, then link the newer version to your node executable path.

[2016-02-28 05:31] codydaig commented on #203
The generator should work with Node v5, however, the latest version that I've personally tested it with is v4. The PR has been merged for the crud-module, but it's in the queue to be published, so it's not available on NPM yet. You can follow #204 for the status of the publish.

[2016-02-28 05:31] #203 closed

[2016-02-28 05:36] vinayakvinay commented on #203
Thanks for the note @codydaig

[2016-02-28 12:44] amercode commented on #79
I came up with a hack to fix this issue: please check out my video:
https://www.youtube.com/watch?v=Nkpdp1ofux8

[2016-02-28 20:05] ilanbiala commented on #79
Just published 0.4.4, see if that fixes your issues.

[2016-02-29 07:38] amercode commented on #119
I came up with a hack to fix this issue: please check out my video:
https://www.youtube.com/watch?v=Nkpdp1ofux8

[2016-03-06 12:24] junit38 commented on #79
@Matt-Webb
This may help you:

[code]

[2016-03-07 03:33] jamviking opened #205 "Generator not pluralizing module names properly"
grunt failed in tests/server/routes.test on module named "party" being pluralized as "partys" and "parties" at line 89.

            // Get a list of Parties
            agent.get('/api/parties')
              .end(function (partysGetErr, partysGetRes) {
                // Handle Party save error
                if (partysGetErr) {
                  return done(partysGetErr);
                }

[2016-03-07 15:51] codydaig commented on #205
Which sub generator is producing this?

[2016-03-08 03:04] jamviking commented on #205
meanjs:crud-module

Vincent "Kim" Elliott
ITC Consultant
Kingston, Jamaica
876-381-0661

On Mon, Mar 7, 2016 at 10:51 AM, Cody B. Daig <notifications@github.com>
wrote:

[2016-03-10 19:03] Ariestattoo commented on #205
This is a result of the underscore.inflections module in the crud module index.js
` this.name = props.name;

      this.slugifiedName = s(this.name).slugify().value();

      this.slugifiedPluralName = inflections.pluralize(this.slugifiedName);
      this.slugifiedSingularName = inflections.singularize(this.slugifiedName);
`

Inflections does have support for adding irregular words, however I have

[2016-03-15 17:16] stephengtuggy commented on #202
@rof20004 your instructions worked for me. Thanks.

I have Windows 10 (x64) as my main OS. I installed Ruby 2.2.4 x64 from [http://rubyinstaller.org/downloads/](http://rubyinstaller.org/downloads/). I used Git Bash as my command line environment (installed with GitHub Desktop for Windows). I opened Git Bash and ran "gem install compass". I was then able to run grunt with no issues, and view the bo

[2016-03-17 20:56] hfournier opened #206 "inconsistent code in CRUD module generator views"
The form view uses ng-, but the other two views data-ng-. As a generator, the coding should be consistent throughout.

[2016-03-17 21:20] codydaig commented on #206
In 0.4, we removed the data-. Can you point out where there is remaining `data-`'s?

[2016-03-17 21:24] hfournier commented on #206
generator-meanjs / crud-module / templates / client / views /
_.list.client.view.html
_.view.client.view.html

[2016-03-17 21:35] codydaig commented on #206
#207 Addresses this issue.

[2016-03-19 08:08] rohanleach4 opened #208 "$ yo meanjs:angular-module <module-name> - Docs on the site are out of date"
$ yo meanjs:angular-module <module-name>

no longer is correct. I believe it should be:

$ yo meanjs:mean-module <module-name>

[2016-03-19 11:14] simison commented on #208
Wanna send a PR? :-)

[2016-03-19 12:27] rohanleach4 commented on #208
I would love to, but in this case, I am not sure how to :-/

On 19 March 2016 at 11:14, Mikael Korpela <notifications@github.com> wrote:

[2016-03-19 16:00] stephengtuggy commented on #202
It turns out that the latest version of MongoDB, from mongodb.org, is not fully supported on Ubuntu 15.10, only on LTS versions of Ubuntu (such as 14.04). So I ended up setting up an Ubuntu 14.04 LTS x64 VM to run my MEAN application. Got it working!

[2016-03-19 17:50] #206 closed

[2016-03-21 13:05] atomixnmc commented on #79
I hope this has a solution now?

I have 0.4.4 and it still not working, asking for the root project which is pretty nonsense:

yo meanjs:mean-module game
**undefined         **
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? (Use arrow keys)
  master

  0.4.1
? In which folder would you like the project to be generated? This can be changed later. (me

[2016-03-21 14:48] ilanbiala commented on #79
@UndeadBaneGitHub can you provide some info and maybe even create PRs for some docs of the new subgenerators?

[2016-03-21 18:09] UndeadBaneGitHub commented on #79
@ilanbiala Sure!

[2016-03-21 23:37] jamviking commented on #205
I think I found the bug in the server route tests template...How do i go about creating a pull request for the fix (am a git/javascript newbie)?

[2016-03-22 00:28] jamviking commented on #205
I figured how to create the PR...just one silly mistake...did not create a branch for the fix first..

[2016-03-23 07:50] vinayakvinay opened #210 "App build fails after customizing the app"
@ilanbiala @codydaig

Hello there,

I have latest mean generator installed in my machine. I use yo meanjs to scaffold the MEAN app. When I edit the crud module what I generated the test results 50 lines of warning and error. I reverted all the changes I done and set the app to fresh/initial state what yeoman generated but still I am getting the following errors.

`vinayak@vinayak-Lenovo-G500:/var/

[2016-03-23 17:28] ilanbiala commented on #210
@vinayakvinay these are just linting errors, did you use master as your version?

[2016-03-24 05:56] vinayakvinay commented on #210
Yes I tried with master, 0.4.0, and 0.4.1. For all the three, it produces the same lint error.

[2016-03-24 12:56] ilanbiala commented on #210
@vinayakvinay, the code you added doesn't pass the style guide checks, so if you fix it and the error statements go away, then the build will continue. The warnings are just suggestions.

[2016-03-25 04:54] vinayakvinay commented on #210
@ilanbiala I have to grunt --force to run the app. I haven't made any changes in the source code except page title. I am still getting the same lint errors. Is that related to my node version? I am on node 5.6.0 | npm 3.6.0. I updated yeoman and mean generator to latest.

[2016-03-26 15:44] rof20004 opened #212 "gulp build only generate public/dist application.js, application.min.css and application.min.js"
Hi,

When I used grunt, with another generator, I only did grunt build and it creates a dist folder with all my html, css and js concatened and ready to deploy this folder.

I am using gulp now, but with gulp build it creates public/dist and inside it i have only 3 files: application.js, application.min.css and application.min.js, but where is my views ? I can not upload this folder to my remote s

[2016-03-28 07:55] vinayakvinay commented on #210
@ilanbiala @codydaig
Just figured out what causes the lint error. When I add crud module using the sub gen it produces the lint errors and by default there are 38 lint warnings during app build.

I tried with **master, 0.4.0 and 0.4.1** and faced the same kind of error.
As you said, the lint warnings are just suggestions only but `yo meanjs:crud-module` is a real deal breaker for me here.

I belie

[2016-03-28 13:23] stephengtuggy commented on #210
@vinayakvinay Maybe try [node version 4.x LTS](https://nodejs.org/en/download/) instead? At least, that is what worked for me. Then run sudo npm install -g npm to upgrade to the latest npm version after you have node 4.x installed.

You said you edited the crud module that was generated. Can you attach your edited code?

[2016-03-28 13:57] stephengtuggy commented on #210
@ilanbiala and @codydaig I hope you guys don't mind me jumping in here.

[2016-03-28 14:02] vinayakvinay commented on #210
@stephengtuggy
As you said, I just downgraded to node 4.4.1 LTS and updated the npm version to the latest. I think its not related to customization of crud module which I was thinking the reason for lint errors initially.  Whenever I add a crud module using yo meanjs:crud-module I get the lint error and app build fails. I have to grunt force to continue.

[2016-03-29 13:31] vinayakvinay commented on #210
@ilanbiala @codydaig
Pls help me to solve my lint errors after adding a crud-module.

[2016-03-30 04:33] vinayakvinay commented on #210
@ilanbiala @codydaig
I did try grunt --force to bypass the lint errors and ended up in `Uncaught Error: [$injector:unpr] Unknown provider: MenusProvider <- Menus` after adding a crud-module.

[2016-03-30 13:03] stephengtuggy commented on #210
@vinayakvinay Hmm. I am unable to reproduce your issues.

[2016-04-04 22:39] rengas commented on #178
I had the same issue trying to run to yo generator on box with vagrant.Increasing base memory of the box size fixed it.

[2016-04-05 18:26] p3p3k commented on #210
i have same problem. @vinayakvinay Did you solve this problem?

[2016-04-06 03:47] vinayakvinay commented on #210
@p3p3k
Not yet resolved. Waiting for @ilanbiala to help us.

[2016-04-07 04:36] nodox commented on #208
I just ran into this problem. Would love to have updated docs. @rohanleach4 do you need help creating a pull request?

[2016-04-07 04:37] nodox commented on #200
Doc should be updated so this and #208 can be closed. Any PR?

[2016-04-07 08:36] rohanleach4 commented on #208
@nodox yes please. That would be a great help

[2016-04-07 14:17] nodox commented on #208
@rohanleach4  [Here is a great tutorial on how to create PR](https://yangsu.github.io/pull-request-tutorial/)

tl;dr
1. Create local copy,
2. pull from origin,
3. create a local branch for the fix
4. code, commit, push branch with fix to origin
5. create PR on PR page with your branch.

The first half is all you really need but the bits towards the end are useful once you start contributing more.

[2016-04-11 02:25] ilanbiala commented on #210
@vinayakvinay sorry I've been caught up with other stuff. There don't seem to be any linting errors in our tests. Can you try from scratch?

[2016-04-11 03:29] vinayakvinay commented on #210
@ilanbiala Yes I did try from the scratch. The very first build itself has 37 lint warning with out modifying/adding anything to source code and I have to grunt --force to continue. Once I add crud module the error became 76 and again I tried grunt --force but I can't see anything in the screen since it shows me Angular Unknown menu provider error in browsers' console.

[2016-04-11 15:51] alexisio commented on #210
@vinayakvinay I also noticed the lint errors, however, they've not been an issue for me.

In regards to the menu provider error, it seems to be because the meanjs core (master branch) names the menu service `menuService`, where as the crud-module generator injects `Menus` (0.4.x branch of meanjs uses this name).

The issue is in `modules/{module}/client/config/{module}.client.config.js`

[code]

I

[2016-04-12 20:58] zenithtekla opened #213 "run app on different ENV?"
Hello,
I'm new to your scaffold package.
What are the grunt and gulp commands for triggering/running the deployed app in development, test, and production modes?
and where to configure development environment?
On a side note: I like gulp better.
Thanks

[2016-04-12 21:03] zenithtekla opened #214 "configure this package to run on C9 IDE?"
Hello,
I have it deployed and am trying to configure the settings (port, localhost, and mongoDB) for it to work on C9 IDE.
My previous experience with [https://github.com/zenithtekla/yo-ng/commit/a59a93dccce2a536950ea7444b4b96796f328a63](yo generator-angular)
and [https://github.com/zenithtekla/unitycloud/commit/8163b252ab0f81094423148309d12507922f4e57](simple NodeJS app) where I used `http.create

[2016-04-13 14:56] ilanbiala commented on #214
That's out of the scope of this repository. Please post on Stack Overflow, Gitter, or another forum that is for general usage questions.

[2016-04-13 14:56] #214 closed

[2016-04-14 18:49] vinayakvinay commented on #210
@alexisio Thank you so much for the detailed explanation.

[2016-04-18 08:52] rohanleach4 commented on #208
Sorry for my tardiness of reply - stacked out at the moment.
I will look into this over this coming week - thanks for your time :-)

[2016-04-20 03:37] thodinh opened #216 "Sharing Module"
Hi all, I preparing to start a new project and we choose meanjs to develop. But, I am still confused about the reusability. What is the best practice to create a shared module to reuse for another modules?

[2016-04-20 04:00] keithics commented on #205
@Ariestattoo Other than irregular words, it is only limited to English language.

i think it's better to have an option to choose the plural and singular term for each module.
And we will use the inflections as a default.

[2016-04-20 15:10] ilanbiala commented on #216
@thodinh What do you mean by shared modules?

[2016-04-21 03:17] thodinh commented on #216
Some modules is common and can reused for another modules. Assume that I have a search bar or a comment block. I need use those module for some places. So I hesitant where is the best to place those module.

[2016-04-21 09:18] simison commented on #216
Sounds like Angular Directives to me.

[2016-04-22 00:49] snlacks opened #217 "redirectURL not parsing properly on social login"
[mean app issue](https://github.com/meanjs/mean/issues/1284)

Logging in to social on latest was returning [Object, object] changing one line seems to have fixed it temporarily, but not sure of the implications to the generator.

    // return res.redirect(redirectURL || sessionRedirectURL || '/');
    return res.redirect(sessionRedirectURL || '/');

in users.authentication.server.controller at \p

[2016-04-27 15:28] ilanbiala commented on #217
@snlacks can you open a PR?

[2016-05-04 10:54] eliavmaman commented on #119
also need it please.. :)

[2016-05-04 11:00] jedau opened #220 "crud-module generator introduces lots of errors"
It seems that it's introducing lots of whitespaces to the generated code.

I ran:
[code]

Even though I entered `customer` as the name of the module, the generated name is `customers`. Is that the correct behavior?

nodejs version: `5.11.0`
generator-meanjs version: `0.4.4`
yo version: `1.7.0`
OS: `Ubuntu 14.04.4`

[code]

I fixed them all one-by-one just to get `grunt` to execute properly.

**EDI

[2016-05-04 13:18] jedau commented on #220
I think I found out what's causing the whitespaces. I tried entering the name as `customers` instead (previously I entered `customer` as the name) and ran `grunt`, and it didn't produce the same errors. Something in this code block must be causing it to fail:

[code]

I'm not yet sure what it is, but it pluralizes the module name for the folder, but it doesn't for the generated code. The result wa

[2016-05-05 03:07] amercode commented on #119
This is my solution: https://www.youtube.com/watch?v=Nkpdp1ofux8

[2016-05-05 04:39] teamhail commented on #220
I'm having the same problem on OSX, same output. Specifically, running `yo meanjs:crud-module derp` kills a previously working generated install.

nodejs version: 5.11.0
generator-meanjs version: 0.4.4
yo version: 1.7.0

[2016-05-05 16:27] IL4Miy opened #221 "Errors after creating CRUD-Operations"
I run the following **command** `yo meanjs:crud-module mod`.
Then I get this as output
`create modules/mods/client/config/mods.client.routes.js
   create modules/mods/client/controllers/mods.client.controller.js
   create modules/mods/client/controllers/list-mods.client.controller.js
   create modules/mods/client/services/mods.client.service.js
   create modules/mods/tests/client/mods.client.contr

[2016-05-05 16:29] IL4Miy commented on #220
I also have the same problem on OSX

[2016-05-09 07:24] jedau commented on #221
@IL4Miy that looks the same as this: https://github.com/meanjs/generator-meanjs/issues/220

[2016-05-09 07:26] jedau commented on #220
@codydaig @ilanbiala any ideas what could be causing this?

[2016-05-10 15:28] alexisio commented on #220
When you created your application using `yo meanjs` did you select master? I may be wrong, but it seems the generator is geared towards the 0.4.x branches of MEAN.JS.

Master is 0.5.0-beta. This would explain the issue with the menus. In 0.5.0-beta, they have renamed the service to `menuService`. Please read through #210, as this seems to be a duplicate.

As for the question asking if the generato

[2016-05-10 15:37] jedau commented on #220
@alexisio yeah, I'm on `master`. I just read through the other issue and it does indeed look similar. I didn't notice that because of the title while looking through the open issues. I'm closing this for now, and I'll continue to monitor the issue from the other one.

[2016-05-10 15:37] #220 closed

[2016-05-10 15:44] jedau commented on #210
@alexisio I had the same problem with the blank display when I encountered `Error: [$injector:unpr] Unknown provider: MenusProvider <- Menus`. It was already:
```menuConfig.$inject = ['menuService'];``` I tried to change `menuConfig.$inject` in `/modules/customers/client/config/customers.client.config.js` to `topbar`, but it didn't do anything. I just reverted it back to `menuService` and it final

[2016-05-10 17:43] alexisio commented on #210
@jedau

`Error: [$injector:unpr] Unknown provider: MenusProvider <- Menus` makes it sound like the service being injected was `Menus` (which is what the crud-module generator does by default right now).

If you're using the 0.5.0-beta branch (which last I checked is the master branch), the menu service to be injected is `menuService`. If you are using 0.4.x, `Menus` would be expected.

[2016-05-10 18:04] IL4Miy commented on #220
@jedau
But the bug with these errors isn't fixed, right?
So something like this `39:121  error  Unnecessary use of boolean literals in conditional expression  no-unneeded-ternary`
How can I prevent that?
The bug in the other thread is about another problem, isn't it?

[2016-05-11 03:26] jedau commented on #220
@IL4Miy `error Unnecessary use of boolean literals in conditional expression no-unneeded-ternary` is also covered in that other issue. That's why I closed this one, so that we can all focus on that thread that was created first.

With regard to resolving that error, the way I fixed that was retool the line to look like this:
[code]

[2016-05-11 04:43] jedau commented on #210
@alexisio oh so I guess I'm using 0.5.0-beta because `menuService` was injected by default. I'm curious though, why did it throw that error for me? It has `menuService` as the value, then an error was thrown, so I changed it to `topbar` (because reasons) and that obviously didn't work, so I changed it back to `menuService` and then it suddenly worked! I'm not complaining or anything, just wonderin

[2016-05-13 19:26] IL4Miy commented on #220
@jedau This works for me but I also habe these 38 other errors.

[2016-05-14 07:12] jedau commented on #220
@IL4Miy yeah, I guess that's why I created an Issue, so that they would notice and fix it. I fixed all of the errors one by one, so that resolved it for me. You could either do that or just wait for the fix.

I'm waiting for the fix as well, but I've since moved past this part. It would be nice to have a fix for this issue for when I create a new CRUD module for a different project.

[2016-05-15 20:24] GCinellu opened #222 "'MissingSchemaError: Schema hasn't been registered for model "User".'"
I installed a fresh clone of this repo, but when I try to run

`grunt mochaTest`

mocha literally explodes.

I am on mac, which informations would you like me to provide in order to assess the issue?

[2016-05-16 14:34] rclogs opened #223 "'generator-meanjs' is not in the npm registry"
I tried installing mean generator using  `npm install -g generator-meanjs` command. but it gives following error.

npm ERR! Darwin 15.4.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "generator-meanjs"
npm ERR! node v0.12.7
npm ERR! npm  v2.11.3
npm ERR! code E404

npm ERR! 404 no such package available : generator-meanjs
npm ERR! 404
npm ERR! 404 'generator-meanjs' is not in the npm r

[2016-05-20 07:39] gitname commented on #151
I observed this today in Linux. It was on a virtual machine (i.e. Vagrant box) running 64-bit Ubuntu 14.04.4 LTS.

**I eventually got it working, though, by running `$ yo meanjs --skip-install`, navigating to the app's directory, and running `$ sudo npm install` (i.e. with `sudo`).**

Below is some information about my environment, the things I tried, and the things I observed.

---

Here's some i

[2016-05-31 23:58] mscarchilli commented on #117
Same problem here.

OS: Win7
Node v5.5.0
npm v3.3.12
yo v1.8.4
generator-meanjs v0.4.4

[code]

[2016-06-03 07:00] ilanbiala commented on #117
We don't support Node 5 currently.

[2016-06-03 07:00] ilanbiala commented on #222
Did you do `npm install` first?

[2016-06-03 07:01] ilanbiala commented on #223
https://www.npmjs.com/package/generator-meanjs

[2016-06-03 21:29] codydaig commented on #223
@rclogs I just ran that command on my machine that didn't have it installed and it worked just fine. Not sure what was/is going on for you but this would be an issue with npm, and not the generator-meanjs repo.

[2016-06-06 12:38] kushalmahajan opened #224 "Error while running yo meanjs command."
Hi,
Everything installed for me fine. But when I run yo meanjs command, it gives me an error

**Error: Error: Command failed: C:\WINDOWS\system32\cmd.exe /s /c "git --version"
'git' is not recognized as an internal or external command,
operable program or batch file.**

[2016-06-07 16:15] ashavidyadharan commented on #224
Install [git](https://git-scm.com/downloads) and set the installed path in environment variable

[2016-06-07 16:44] faphdev opened #225 "Yo cannot be ran as root or using sudo"

[2016-06-07 16:44] #225 closed

[2016-06-07 16:47] orenyny opened #226 "Yo cannot be ran as root or using sudo"
Hello,
I hope this is the right place to ask you to correct the documentation. In this page - http://meanjs.org/generator.html you explain that super user or sudo may be needed to do the installation.
There is a major issue using yo as root or using sudo. I followed their suggestions here https://github.com/yeoman/yeoman.github.io/issues/282, switching between root and a user, with no success.
Her

[2016-06-07 17:17] codydaig commented on #226
Those are errors about deprecated packages. The Killed at the end is the only issue here. Typically that means that you ran out of memory or something. Are you trying to do this on a VM?

[2016-06-07 17:18] codydaig commented on #224
@kushalmahajan Yup. You need git installed and need to run the command fro the git bash client. Let us know if you still have issues.

[2016-06-07 17:18] #224 closed

[2016-06-07 17:18] codydaig commented on #223
Feel free to reopen if your still experiencing issues.

[2016-06-07 17:18] #223 closed

[2016-06-07 17:20] codydaig commented on #213
@zenithtekla The README on the main repo outlines most of the gulp and grunt commands. We are currently working on switching over to gulp, but currently both are working. https://github.com/meanjs/mean

[2016-06-07 17:20] #213 closed

[2016-06-08 16:02] rclogs commented on #223
Its Works.. !! Not sure why the issue was coming before

[2016-06-12 08:27] #178 closed

[2016-06-20 15:35] water42 opened #227 "Add generator option to scaffold application without oauth logins"
I'm building a relatively simple application that does not require oauth logins, but does require an advanced administration and users system which Meanjs provides, and it's been a somewhat arduous process refactoring the code to remove the oauth functionality.

This is just a suggestion to make the app a bit more flexible. Thanks for the work you guys have done on this.

[2016-06-20 20:19] water42 opened #228 "CRUD generator inconsistencies with app generated from meanjs master version"
Command running: yo meanjs:crud-module thing

When choosing the option to "add the CRUD module links to a menu" the wrong service names are used once the CRUD module is generated.

Generated client/config/things.client.config.js result:

[code]

'**Menus**' should actually be '**menuService**'. Should we not use the master branch to generate the boilerplate?

[2016-06-21 04:30] shibilikr opened #229 "Mean generator not available"
This is the response I get when I try to install mean generator

sudo npm install -g generator-meanjs
npm http GET https://registry.npmjs.org/generator-meanjs
npm http 200 https://registry.npmjs.org/generator-meanjs
npm http GET https://registry.npmjs.org/generator-meanjs/-/generator-meanjs-0.4.4.tgz
npm http 200 https://registry.npmjs.org/generator-meanjs/-/generator-meanjs-0.4.4.tgz
npm ERR! fet

[2016-06-21 14:39] water42 commented on #228
closing since I just saw this was fixed by pull request #215

[2016-06-21 14:39] #228 closed

[2016-06-21 19:19] cainaf opened #231 "Where does cssFiles and jsFiles come from?"
Sorry for the stupid question. Im new to node and cant figure out where those come from, as in:

[code]

[2016-06-21 20:16] codydaig commented on #231
Long story short, they come from here. There's a series of processes that it goes through before it's injected, but this is where it originates.

https://github.com/meanjs/mean/blob/master/config/assets/default.js

[2016-06-21 22:58] cainaf commented on #231
Great! That also answered some other questions :)
Thank you!

[2016-06-21 22:58] #231 closed

[2016-06-22 00:03] codydaig commented on #231
:-D

[2016-06-22 15:08] codydaig commented on #229
@shibilikr We no longer support Node v0.10.

[2016-06-22 15:09] codydaig commented on #227
@water42 This should go on the main meanjs/mean repo, this repo only serves as the generator. As for stripping out oauth, in theory, you can remove the users module and replace it with your own if you don't like the way that it is structured.

[2016-06-24 09:51] shanehaw opened #233 "Running through Zscaler - Error: unable to get local issuer certificate"
The company I work for uses a Zscaler proxy and I am trying to get the meanjs yeoman generator to work on my Windows 10 machine. So far I have managed to get npm to work by setting the proxy, https-proxy and the registry as follows:

[code]
however when I run:

`yo meanjs`

I get the following:

[code]
Which seems to indicate that it can't connect via https to

https://node-inspector.s3.amazonaws.

[2016-06-26 13:06] donohutcheon opened #234 "Project fails to startup when naming a crud module as a plural noun that doesn't end in 's'."
The bug is reproducible by following the following Youtube video [MeanJS - MEAN stack Yeoman Generator Tutorial](https://www.youtube.com/watch?v=XHpMH_5n2fQ) from 3:47 up to 5:54.

The problem occurs because the `crud-module/templates/tests/server/_.server.routes.tests.js` file refers to a variable named `<%= camelizedPluralName %>GetRes` on line [89](https://github.com/meanjs/generator-meanjs/blo

[2016-06-26 13:16] donohutcheon commented on #234
I'd like to submit a patch for this bug that will correct the problem.
[_.server.routes.tests.js.zip](https://github.com/meanjs/generator-meanjs/files/333581/_.server.routes.tests.js.zip)

[2016-06-29 08:15] vineeshc9 commented on #210
I am also receiving the same issue in
gruntfile.js
config.js
development.js
app.js
express.js
logger.js
mongoose.js
seed.js
socket.io.js

[2016-06-29 17:09] codydaig commented on #210
@vineeshc9 The no-console's are only warnings, and don't actually fail the build.

[2016-07-04 18:17] Valonix commented on #210
/opt/mean/modules/products/server/controllers/products.server.controller.js
  39:118  error  Unnecessary use of boolean literals in conditional expression  no-unneeded-ternary
  48:29   error  Unexpected whitespace before semicolon                         semi-spacing
  50:30   error  There should be no space before ','                            comma-spacing
  67:29   error  Unexpected whitespac

[2016-07-05 03:22] codydaig commented on #210
@Valonix Can you provide some context around that error message? What did you run to generate it, and any other details you can provide. Just pasting error messages doesn't help my ability to fix the issue.

[2016-07-05 08:28] Valonix commented on #210
@codydaig i installed crud generator like in docs on site. Then i created module "products"
Then after i wrote grunt i saw this list of errors.
I checked the code, and you know what? It rly have errors, i was shocked, why people released this?
All files with errors.... Uncorrected brackets, unnecessary semicolon .... =|

[2016-07-05 11:09] KartheekJavvaji opened #235 "forgot password / nodemailer doesnt work when deployed in heroku"
I have tried changing the service form gmail to outlook too. It works locally both in gulp and gulp prod. Should we change ALLOWED_HOSTS like thingy. I cannot find this option anywhere.
Failed to load resource: the server responded with a status of 400 (Bad Request) is being loaded in the console. Do i need to change the .gitignore . I have also removed pubic/dist from the .gitignore.

[2016-07-05 15:29] KartheekJavvaji commented on #235
I figured out the problem. It was with the nodemailer version. Just change the version in the package.json to 2.4.2 and it works just fine.

[2016-07-05 15:29] #235 closed

[2016-07-06 03:48] TigerBui opened #236 "mean (master) grunt error!"
![ice_screenshot_20160706-104631](https://cloud.githubusercontent.com/assets/1240681/16607017/1b88419c-4367-11e6-846a-8506bc7fe1bf.png)

[2016-07-06 19:31] steventj commented on #236
What's the errors?
I don't see any errors.
Only warning, which is fine enough.

[2016-07-09 19:14] codydaig commented on #236
@TigerBui Those are all warnings. I'm closing this. Feel free to reopen if you can show any errors that are occuring.

[2016-07-09 19:14] #236 closed

[2016-07-09 20:41] codydaig commented on #210
There is an update coming soon. If you use the master branch of this repo, it should work and we will be publishing to npm in the coming days.

[2016-07-11 01:28] codydaig commented on #234
@donohutcheon Can you submit a PR for it?

[2016-07-11 01:35] codydaig commented on #233
I would also assume that it has something to do with Zscaler and not an issue with the project. If you believe that it's an issue with the project still though, the bug should be reported to the main meanjs/mean repo. This is simply the generator. Good Luck and let us know if it is a bug!

[2016-07-11 01:35] #233 closed

[2016-07-11 05:33] shanehaw commented on #233
Apologies if this is in the wrong place; the reason I put it here is that I get the error when running the generator.

I had a similar issue when running visual studio code - when I tried to install any extensions it also gave me the error `unable to get local issuer certificate`. When I researched it further I found they provided a setting:

[code]

which, when set to false managed to reach which

[2016-07-11 19:08] jcsaladin commented on #227
Hi, if i delete the user folder, the project does not start

[2016-07-11 20:35] donohutcheon commented on #234
No problem.  I'm new to GitHub but keen to help.  What's the protocol? Do I need permissions to create a new branch?

[2016-07-11 20:38] codydaig commented on #234
You fork the repo, create a branch on your repo, make your changes and commit, then create a PR from your branch on your fork to the master branch of this repo as the base.

[2016-07-13 04:37] TigerBui opened #239 "npm i "--only=dev" error!"
![ice_screenshot_20160713-112652](https://cloud.githubusercontent.com/assets/1240681/16791962/f5ab3664-48ed-11e6-8493-0f34c6472b7a.png)

[2016-07-13 04:38] TigerBui commented on #236
Thanks @codydaig and sorry!

[2016-07-13 17:18] codydaig commented on #236
@TigerBui No Worries!

[2016-07-15 16:49] ilanbiala commented on #239
@TigerBui do you still have this error?

[2016-07-15 16:49] #229 closed

[2016-07-15 16:50] ilanbiala commented on #227
Can this issue be closed?

[2016-07-15 16:51] #227 closed

[2016-07-18 01:45] TigerBui commented on #239
@ilanbiala Yes! i still haven't find this error!

[2016-07-18 05:25] ilanbiala commented on #239
The error seems like it's saying a package is improperly installed, but I'm not positive. @codydaig any ideas?

[2016-07-21 18:50] sebakc commented on #23
I just delete it  and never had any problems .

[2016-08-01 19:35] corvae commented on #142
I'm using 0.4.4, and I got npm errors when I chose 0.4.0 or 0.4.1 for the first question (when running the generator).  When I chose 0.4.2 or master, there were no errors (although running grunt for the first time warned me to install Ruby and Sass, which i didn't see in prereq's).

Linux Mint 18 (in VirtualBox), Node 6.3.1, npm 3.10.3, bower 1.7.9, mongodb 2.6.10, grunt-cli 1.2.0, gulp 3.9.1

[2016-08-01 19:55] codydaig commented on #142
@corvae We don't support Node v6 yet.

[2016-08-01 21:40] corvae commented on #142
Ok, thanks @codydaig .

[2016-08-02 22:00] jiffify commented on #231
Continuing with stupid questions, how are the assets injected.
is this src="{{jsFile}}"  doubble bracket angular syntax, if yes, then how can it be parsed before loading angular ?

What am I missing here ?

Thanks in advance.

[2016-08-02 22:13] cainaf commented on #231
Hi @jiffify, that double bracket is for handlebars, a html templating engine. It happens to have this same double bracket syntax for rendering javascript variables passed in as params. This rendering occurs server side, before it's served to the browser.

[2016-08-10 18:37] nidhalmesselmani commented on #235
I did that, still doesn't work

[2016-08-11 03:06] KartheekJavvaji commented on #235
Are you sure you upgraded the node mailer version?.... And check your mail once for mails regarding blocking access due to new location.

[2016-08-15 00:15] benobab commented on #79
@junit38 this version works properly (the actual version of meanjs contains also some /admin folders etc) -> that means we have to go 1 level deeper for the rm and the rename of files ;-)

Thanks for your original script, it saves me a lot of time every day!

[code]

[2016-08-16 14:16] mukul273 opened #244 "Unable to generate meanjs using yeoman generator"
I am build the first ever project for MEAN on windows 7

So I have installed Node, Grunt, bower, npm, yo...

C:\codesnippet\src>node --version
v4.4.7

C:\MEAN\codesnippet\src>npm --version
2.15.8

C:\codesnippet\src>yo --version
1.8.4

C:\codesnippet\src>bower --version
1.7.9

I am getting errors like these..Can anybody help?

C:\CodeSnippet>yo meanjs
You're using the official MEAN.JS generator.
?

[2016-08-16 16:36] junit38 commented on #79
@benobab You'r welcome !

Thanks for the improvement.

[2016-08-22 10:01] pun4drunk opened #245 "crud-module generator provides eslint errors"
I've created this one to mention in my upcoming PR

Probably this will partly resolve #220 and #221

[2016-08-24 23:31] #245 closed

[2016-08-25 00:24] ilanbiala commented on #244
@mukul273 have you tried installing Python?

[2016-08-26 00:05] yokodev commented on #24
Hi,  I'm looking for an option to remove this from the original MEAN shell,

  require.extensions['.server.controller.js'] = require.extensions['.js'];
    require.extensions['.server.model.js'] = require.extensions['.js'];
    require.extensions['.server.routes.js'] = require.extensions['.js'];

 I'm using node 4.5 and trying to get rid of this. Any ideas how to go about doing this?
Thanks

[2016-08-29 22:35] ilanbiala commented on #24
@yokodev can you point to where this is in the latest master?

[2016-09-02 05:15] yokodev commented on #24
No, sorry for the confusion...  I'm trying to update a MEAN project which is based of an old version around 2014 and so I was looking for a "best practice" way to achieve this. Any advice on how to do this is really appreciated.
Thanks

[2016-09-04 02:01] ilanbiala commented on #24
2014 is pretty outdated code, so you might be better off starting a new project and migrating your code manually.

[2016-09-04 15:16] seshaljain opened #248 "node_modules uninstall not working"
Not sure if this is a Node or Generator problem, but whenever I try to use the command:

`for node in``ls node_modules``; do npm uninstall $node; done;`,

it simply keeps on repeating this message:

Now I don't know how to delete these ~875 dependencies.
(Windows shows error: file path is too long or something, so I use the above command via Git Bash, it works quite well for other node projects)
O

[2016-09-07 00:16] mikeroskywalker opened #249 "Unable to use sub-generator"
I was not able to run the sub-generator:

`yo meanjs:express-model <model-name>`

It prompts the question, and I was unable to see any controller name. And I was running in the root directory of my project. I tried this in Mac/Linux(Ubuntu)/Windows7

`? Which module does this controller belongs to?`

[2016-09-09 00:15] yokodev commented on #24
@ilanbiala  I know, that's the problem... The project at this phase is in no condition of restarting from scratch it has so much work add it, so What I've done so far is just, got rid of those 3 lines and added the
server.controller, model and  routes to each needed file (there were not that many) so anyway. That's my update.

[2016-09-11 22:38] ilanbiala commented on #249
@mikeroskywalker can you post the terminal output?

[2016-09-11 22:39] ilanbiala commented on #248
Do you still have this issue? It might have been a temporary dependency conflict from one of our dependencies.

[2016-09-12 14:22] mikeroskywalker commented on #249
@ilanbiala

`$ yo meanjs:express-model test
? Which module does this controller belongs to?

readline.js:930
            throw err;
            ^

TypeError: Cannot read property 'value' of undefined
    at Prompt.getCurrentValue (/usr/lib/node_modules/yo/node_modules/yeoman-environment/node_modules/inquirer/lib/prompts/list.js:123:51)
    at tryCatcher (/usr/lib/node_modules/yo/node_modules/yeoma

[2016-09-19 22:19] ilanbiala commented on #249
@mikeroskywalker which version of the generator are you using? Have you tried just running the standard generator?

[2016-09-19 22:20] ilanbiala commented on #24
👍

[2016-09-25 04:17] richjava opened #250 "CRUD modules"
It looks like the generator for CRUD modules is not up-to-date with the newest version of meanjs? Adding the new CRUD modules produced errors (for example an Unknown Provider error for the client menu functionality) as well as having a lot of eslint errors.
Thank you. :)

[2016-09-30 21:44] daudihusbands opened #251 "Generate client modules only?"
I'm building hybrid app using ASP.NET Web API for REST services. However, I would like to use only the client-side infrastructure generated by MEANJS generator. Any thoughts?

[2016-10-01 13:41] muniz95 commented on #250
Hi. I found the solution for this isse, and just did a fix for it.

[2016-10-03 16:40] sockol commented on #231
If you are trying to add some other type of asset into the <head> tag, like font urls:
[code]
[code]
[code]
[code]

[2016-10-07 00:01] smokeyblues opened #253 "angular-modules working locally not working on heroku"
I built two new angular modules into my project with:
`yo meanjs:angular-module <module-name>
and they work great locally but when I pushed the project with the new modules to heroku the same routes trigger the 'not-found' state and nothing shows up in the heroku logs.

[2016-10-07 17:40] matthewringer opened #254 "CRUD Module Server Test Templates over specify the resolution method."
Running tests on a generated CRUD module, I noticed multiple errors from MochaJS regarding Resolution Method Over Specification. It looks like the server template code is both returning a promise as well as calling .done() which aggravates Mocha.

https://github.com/mochajs/mocha/issues/2407

[2016-10-07 18:45] mleanos commented on #254
@matthewringer Can you provide a link to the specific line in this project that are causing this issue?

How can I reproduce?

[2016-10-07 18:54] mleanos commented on #253
@smokeyblues How do you attempt to navigate to these routes when getting the 'not-found'? Do you have menu items in the navigation?

If no aspect of your new angular modules are reflected in your Heroku deployment, then my guess is that the new angular modules have not been minified before deploying.

[2016-10-07 20:06] smokeyblues commented on #253
Thanks @mleanos I think you are right. There are no references to the about or contact modules in application.min.js. So what's the best way to re-minimize the project? Should I write and run a new grunt script to uglify the new modules and cut/paste them into application.min.js or is there a better way to push changes to production?

[2016-10-07 22:01] matthewringer commented on #254
The steps to reproduce:

Starting from a cloned instance of MeanJS with NPM dependencies installed.

1. Create a new CRUD module in my case "service" via the yo generator. $ yo meanjs:crud-module service
2. Run server tests: $ npm run test:server

Tests for the new module fail with:

1) Service Model Unit Tests: Method Save should be able to save without problems:
     Error: Resolution method is

[2016-10-09 04:53] mleanos commented on #253
You can use the `gulp build` or `gulp prod` tasks to rebuild the *public/dist* folder; this will minify the project again.

[2016-10-10 17:06] smokeyblues commented on #253
Oh yeah that's right. I kept thinking I needed to use grunt. That resolved my issue. Thanks so much!

[2016-10-10 17:06] #253 closed

[2016-10-13 13:48] dalelotts opened #256 "Logout should not use GET"
Browsers will pre-fetch pages they "think" you will visit next, having logout be a GET can have quite unexpected side effects. It's not a huge problem for the end user, because you wouldn't lose any information, but it could get annoying.

Consider using POST or DELETE verbs.

[2016-10-13 14:20] codydaig commented on #256
@dalelotts Thanks! Do you mind opening this issue in the main repo where this is generated from? github.com/meanjs/mean

[2016-10-15 00:51] dhagan opened #258 "yo meanjs:crud-module <module-name> - create fails"
After generating am module the call to $resource.save() fails - the path to the api -  http://localhost:3000/api/<module-name>/create/<module-name> POST fails with 404 for the obvious reason, the trailing <module-name>

The workaround to this is to clone the articles.client.service.js code -

`    angular.extend(Article.prototype, {
      createOrUpdate: function () {
        var article = this;

[2016-10-29 04:56] sanjeet05 commented on #79
Easy way to do this in ubuntu:
Please follow the instructions....

# copy article module and rename as **customers**
# open terminal inside your project(meanjs)
# modify these two variables as like below
# copy all the code and paste it to the terminal

CRUDNAME="customer"
CRUDNAMEUPPERCASE="Customer"
FOLDERNAME=$CRUDNAME's'

# Do the find/replace in all the files
find modules/$FOLDERNAME -type f

[2016-11-07 22:57] jpca999 opened #259 "why dont i get the option for 0.5.0 when running "yo meanjs" ?"

[2016-11-15 21:03] estock commented on #258
Having the same issue

[2016-11-26 15:42] codydaig commented on #259
https://github.com/meanjs/generator-meanjs/pull/261

We just need to merge that and it will be ready to go.

[2016-11-26 16:19] #259 closed

[2016-11-26 22:05] ilanbiala commented on #251
@daudihusbands you can copy and paste the client-side code from the meanjs/mean repo. Otherwise, you'll need to write the rest of your infrastructure code for ASP.

[2016-11-26 22:05] #251 closed

[2016-11-26 22:07] ilanbiala commented on #256
Can this be closed?

[2016-11-28 05:01] #256 closed

[2016-12-17 19:54] UCDaHacker commented on #249
I have that exact same issue. Looks like the new yeoman generates into a new directory structure. What's the standard generator?

[2016-12-28 17:02] littlerkap commented on #244
I'm also facing the same issue.
Atteched log file:
[npm-debug.txt](https://github.com/meanjs/generator-meanjs/files/675922/npm-debug.copy.txt)

[2017-01-13 20:08] staminna commented on #200
Can somebody update meanjs.org documentation for this?

[2017-01-15 11:12] Rebaiahmed opened #264 "Genreator yo meanjs not working"
hello , after installing the generator-meanjs  with npm install -g generator-meanjs
in ther terminal when i enter yo meanjs i get this
![yomean](https://cloud.githubusercontent.com/assets/13053759/21962074/efa27046-db1b-11e6-9c3c-1f143b14fd3d.png)

[2017-01-25 20:11] jeffthompson1971 commented on #138
Does not work for me.  Any proper solution out there?

[2017-02-02 14:49] nithin-ideas2it commented on #258
+1, Any hot fix at least?

[2017-02-05 06:54] Vikky commented on #258
Having the same issue running with yo meanjs --version = 1.8.5

[2017-02-06 09:46] nithin-ideas2it commented on #258
Hi,

I am not 100% sure about the issue since the post request URL is appending the module name with API request.

Ex: if module name is 'note'

Expected:
method: post
URL: localhost:3000/api/notes

actual:
url: localhost:3000/**notes**/api/notes - not found - issue

in file: modules/core/client/app/init.js

-  bootstrapConfig.$inject = ['$compileProvider', '$locationProvider', '$httpProvider', '$

[2017-02-07 15:38] Vikky commented on #258
@nithin-ideas2it that worked,thanks a lot.!

[2017-02-13 09:19] #250 closed

[2017-02-20 09:19] iamchathu opened #266 ".git folder"
When we init a new meanjs project it do the git clone but after that .git folder is there.

Why is that?

[2017-02-20 11:57] arunkasyakar11 commented on #117
Getting the error while
`$ yo meanjs`
my nodejs version : v7.5.0
npm : 4.1.2
yo version: 1.8.5

error log:
Error: Command failed: cd . && npm install
npm WARN deprecated phantomjs@2.1.7: Package renamed to phantomjs-prebuilt. Please update 'phantomjs' package references to 'phantomjs-prebuilt'
npm WARN deprecated swig@1.4.2: This package is no longer maintained
npm WARN deprecated mongodb@2.0.55:

[2017-02-21 21:19] arashthk commented on #264
For me the source of problem was I had installed `yo` globally and then after that I'd used nvm and had changed the node version. So `yo` couldn't find the packages I had installed globally later.

Check where meanjs generator is installed with `npm list -g generator-meanjs` and then check where's yo `npm list -g yo`.

[2017-02-23 06:19] cliffeby commented on #258
Seems to work, but I'm now getting **not-found#!**  instead of **api** in the browser url.

[2017-03-01 12:33] ghost commented on #258
I am getting a similar error when generating crud modules:

`[23:00:48] Starting 'mocha'...
unable to find logging file configuration
  Article Admin CRUD tests
    ✓ should be able to save an article if logged in (197ms)
    ✓ should be able to update an article if signed in (84ms)
    ✓ should not be able to save an article if no title is provided (72ms)
    ✓ should be able to delete an article

[2017-03-01 16:56] cliffeby commented on #258
These test failures have existed prior to the SERVER PATH issue in this thread.  The following may be helpful:

 Method Save should be able to save without problems: produced a -expected 200 but got 422 Unprocessable Entity- error.  I believe it is due to the done() callback and the New Module Promise conflict.
  This blog provides a great explanation of issue and fixes.

[http://staxmanade.com/20

[2017-03-01 17:08] adamdilibero commented on #258
Hi Cliffeby,

Thanks for your response, that url doesn't load for me is it correct?

[2017-03-03 21:04] christopher-francisco opened #269 "Out of the box install doesn't work with Node v7.2.1"
Ran the 3 first commands in the [generator](http://meanjs.org/generator.html) page but it fails with the error:

[code]

Did I miss something?

[2017-03-16 22:49] tas88-sys opened #270 "travis.yml errors on build"
Hi, I'm getting several errors when trying to build my project with travis.yml file generated by yeoman . This is the file below. Should it work by default or do I have to make any changes?

[code]
These are the errors:

https://ibb.co/k65pdv
https://ibb.co/kLy9dv

What's the problem here? Can you guys help me?

[2017-03-22 00:41] grantm44 opened #271 "Not creating angular files in public folder"
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: ENOENT: no such file or directory

\mean\package.json

[2017-03-22 02:08] #271 closed, assigned to nobody

[2017-03-22 10:39] GuigsEvt opened #272 "Problem adding new menu to the topbar"
I have created the basic mean modules with yo meanjs. So it has created the article CRUD module which is added automatically to the topbar menu.

I have been trying several time to add new module to the modules folder doing the same process. But it never add the new module to the topbar module.

So I have tried to only duplicate the articles modules and change the name of the variable and menu but

[2017-03-22 12:02] #272 closed, assigned to nobody

[2017-03-25 18:19] abdulqadeerel commented on #224
is Git must be installed in order to run this command, even If I dont' want to report usage statistics ?????

[2017-03-30 22:56] theednaffattack commented on #269
Not sure if you're still facing this problem, but I had the same error when using Angular-fullstack. To get around I switched node versions from v7.7.1 to node v6.3.1.  From what I've seen in the node inspector issues any version older than 6.3.1 should work.

[2017-04-12 01:24] codydaig commented on #269
@chris-fa This project does not support Node 4 yet. If you look at the builds for the main project (github.com/meanjs/mean) you'll see what versions of node that are supported.

[2017-04-12 01:37] theednaffattack commented on #269
@codydaig How can I check something like that?  I looked in [package.json](https://github.com/meanjs/mean/blob/master/package.json) under "engines" and it states:
"engines": {
    "node": ">=6.3.0",
    "npm": ">=3.10.8"
  }
But that's on master which is **v0.5.0** though, right? So if I check the "0.4.x" branch's [package.json](https://github.com/meanjs/mean/blob/0.4.x/package.json) is that what

[2017-05-15 21:26] codydaig commented on #269
Look at the Travis.ci log under the main project to see what node versions are currently passing.
https://github.com/meanjs/mean

[2017-05-22 13:20] pshashank8 opened #273 "node-pre-gyp install --fallback-to-build error"
Hi,

When I do 'yo meanjs' to scaffold the starter code, I face the issue described above in while it runs the npm install. With some digging, I found the following link:
[(https://stackoverflow.com/questions/33463945/node-pre-gyp-install-fallback-to-build-failed-during-meanjs-installation-on)]
This worked like magic, changing grunt-node-inspector to prepend a ">=" in package.json instead of "~".

[2017-05-22 13:30] pshashank8 opened #274 "Mean Generator appends the current directory in the path"
Hi,

When I am in a certain directory say "C:\example" and then I give "C:\example\sample" as the path of application in 'yo meanjs' . It gets appended when calling the mean generator and errors out. Please find the error screenshot here
![mean_gen_err](https://cloud.githubusercontent.com/assets/16872447/26311159/ea034b4c-3f20-11e7-877c-76777bc9e7d4.PNG)

[2017-06-06 14:37] am-firnas opened #275 "A valid Gruntfile could not be found. Please see the getting started guide for more information on how to configure grunt: http://gruntjs.com/getting-started Fatal error: Unable to find Gruntfile."
It was working fine.But now it's showing this error. Then when I look in the project folder the grunt file is removed automatically, I guess.

![11](https://cloud.githubusercontent.com/assets/13057271/26834711/b270e494-4af3-11e7-8b70-92bdbf042897.png)

[2017-06-09 11:47] atulkumar1234 opened #276 "Yo generator CRUD module routing"
I'd been facing this issue of getting a blank list on returning from the item view page back to the list page. I always had to refresh the page to get the list again.
After struggling for the whole day, i finally found what exactly the issue was.

In, for example blog.client.routes.js file located in modules/blog/client/config directory, there are state route templateUrls that are starting from 'm

[2017-09-11 05:49] corem96 commented on #275
This same error is happening to me, I cannot run grunt command and start my app because of this error and the Grunfile.js is not in root folder.

[2017-09-11 23:59] mleanos commented on #275
Grunt was removed from the upstream *mean* project. We have moved to solely using Gulp. The tasks in the `gulpfile` are robust and should provide the tools you will need to run the app.

Closing.

[2017-09-11 23:59] #275 closed, assigned to mleanos

[2017-10-09 10:24] graphpixel commented on #197
I am still confused here. Did anyone solve the problem?

[2017-10-09 10:27] graphpixel opened #278 "Couldn't install Mean.Js app using Yo generator"
kaiss@GraphPixel-Executive:/var/www/app$ yo meanjs
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.0
0.4.0
? In which folder would you like the project to be generated? This can be
changed later. .
Cloning the MEAN repo.......
Error: Command failed: git clone --branch v0.4.0 https://github.com/meanjs/mean.git .
Cloning into '.'...
/var/www/app/.g

[2017-10-09 20:07] SpiesInOrbit commented on #278
Looks like a file permission issue. Do you have write access to "/var/www/app"?
Try a simple create with touch.
app $ touch testfile.txt

if you get "touch: cannot touch ‘textfile.txt’: Permission denied" its definitely a permission issue

[2017-10-09 20:33] lirantal commented on #278
due to high maintenance required on the generator we don't officially maintain it anymore.
I suggest cloning the official mean.js repo's master branch and starting from that point.

[2017-11-09 10:03] ashishyadav23 commented on #273
Hello,
while Scalfolding i face issue of node-gyp
147960 error v8-debug@0.4.6 install: `node-pre-gyp install --fallback-to-build`

[2017-12-24 12:51] bellaj commented on #200
from the official website : The Yeoman Generator is currently not maintained. It is based on an older version of MEAN.JS (0.4.2). This content is retained here for historical purposes and for anyone still using the generator on their projects.

[2017-12-24 13:10] bellaj commented on #196
try instead yo meanjs:crud-module

[2018-01-03 22:30] nodox commented on #200
Close this issue?

[2018-01-05 19:59] staminna commented on #200
Is there a new tool for this task if I may ask?

[2018-01-13 23:02] #200 closed

[2018-01-13 23:02] lirantal commented on #200
Sorry but no new generator.
You should clone the main `meanjs` repo and use it as a starting point.

[2018-02-27 17:27] prabhatmishra33 commented on #124
Hi All,
can you all please help me i am facing some issues while creating Meanjs App through Yo generator,below is the full cmd line instructions and errors faced..

H:\MeanjsApp>yo meanjs
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.0
0.4.0
? In which folder would you like the project to be generated? This can be changed later. MeanJSApp
Clon

[2018-05-15 07:45] klevamane commented on #116
@OVagner The method or function passed with the route may not exist, for instance a controller class having a method **createuser**, and the route is passed:
router.post('/signup', controllerClass.**registerUser**);
you see that registerUser is not a method of the controller class. With this implementation such error arises. cheers

[2018-11-07 20:13] maytorena94 opened #279 "Hi @prabhatmishra33 did you solve the problem? I'm having the same issue..."
can you all please help me i am facing some issues while creating Meanjs App through Yo generator,below is the full cmd line instructions and errors faced..

H:\MeanjsApp>yo meanjs
You're using the official MEAN.JS generator.
? What mean.js version would you like to generate? 0.4.0
0.4.0
? In which folder would you like the project to be generated? This can be changed later. MeanJSApp
Cloning the

[2018-11-08 13:36] prabhatmishra33 commented on #124
Hi @maytorena94 no! ....I then manually downloaded from meanjs.com.